@font-face {
  font-family: "font-logo";
  src: url("../assets/fonts/Rubik-Regular.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.header-index {
  width: 100%;
  min-height: 100vh;
  background: url("../assets/background/backgroundtotal2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.abrir-menu,
.cerrar-menu {
  display: none; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem 0rem 3rem; }
  .nav .logo {
    font-size: 3.5rem;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    background: linear-gradient(to right, #7ba6c7, #d7d2cc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .nav .ul-nav {
    display: flex;
    align-items: center;
    gap: 2.3rem; }
    .nav .ul-nav li {
      list-style: none;
      color: white; }
      .nav .ul-nav li a {
        text-decoration: none;
        color: white;
        font-family: 'Questrial', sans-serif;
        font-size: 1.5rem;
        transition: 1s; }
      .nav .ul-nav li a:hover {
        background: linear-gradient(to right, #7ba6c7, #d7d2cc);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }
  .nav .button-carrito {
    border: none;
    background: none;
    /*CONTADOR DE CANTIDAD */ }
    .nav .button-carrito .cantidad-carrito {
      background-color: #fefeff;
      color: black;
      border-radius: 100%;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 17px;
      position: absolute;
      top: 1.5rem;
      right: 6.5rem;
      display: none; }

.portada-index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem; }
  .portada-index .img-portada {
    margin-top: 6.5rem; }
  .portada-index .texto-portada {
    text-align: center; }
    .portada-index .texto-portada h1 {
      font-size: 6.2rem;
      font-family: 'Roboto', sans-serif; }
    .portada-index .texto-portada p {
      font-family: 'Questrial', sans-serif;
      font-size: 3.5rem;
      background: linear-gradient(to left, #ADA996, #DBDBDB, #EAEAEA);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    .portada-index .texto-portada span {
      font-family: 'Questrial', sans-serif;
      font-size: 3.7rem;
      font-weight: 600;
      background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    .portada-index .texto-portada .button-2 {
      padding: 7px 45px;
      border-radius: 2rem;
      font-size: 35px;
      list-style-type: none;
      text-decoration: none; }
      .portada-index .texto-portada .button-2 a {
        text-decoration: none;
        color: white;
        font-family: 'Questrial', sans-serif; }
      .portada-index .texto-portada .button-2 a:hover {
        text-decoration: none;
        color: black; }

.container-1 {
  width: 100%;
  min-height: 600px;
  background: url("../assets/background/backgroundtotal.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container-1 .texto-container1 {
    margin-left: 3.5rem; }
    .container-1 .texto-container1 h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 4rem; }
    .container-1 .texto-container1 span {
      background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Questrial', sans-serif;
      font-size: 3.5rem;
      font-weight: 600; }
    .container-1 .texto-container1 button {
      padding: 7px 25px;
      border-radius: 2rem;
      font-size: 35px; }
      .container-1 .texto-container1 button a {
        font-family: 'Questrial', sans-serif;
        color: white;
        text-decoration: none; }
      .container-1 .texto-container1 button a:hover {
        color: black; }

.container-2 .video {
  width: 100%; }

.background-product {
  width: 100%;
  background: url("../assets/background/backgroundtotal2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.header-productos {
  width: 100%;
  min-height: 500px;
  background-color: black; }
  .header-productos .portada-productos {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header-productos .portada-productos h2 {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      color: white;
      font-size: 5rem; }
    .header-productos .portada-productos img {
      margin-top: 55px; }

/*  CONTENEDOR PRODUCTOS */
.container-product {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .container-product .content-img {
    transition: 0.3s; }
  .container-product .content-img:hover {
    background-color: #fcfcfc; }
  .container-product .card {
    width: 380px;
    background: url("../Assets/background/backgroundtotal2.png");
    background-attachment: fixed;
    color: white; }
  .container-product .content-h3 {
    text-align: center;
    padding: 7px;
    margin-bottom: 1rem;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    color: white;
    font-family: 'Questrial', sans-serif; }
  .container-product .content-h4 {
    margin-left: 15px;
    font-size: 1.1rem;
    font-family: 'Questrial', sans-serif; }
  .container-product .content-price {
    margin-top: 9px;
    margin-left: 15px;
    font-size: 1.1rem;
    font-family: 'Questrial', sans-serif; }
  .container-product .content-text {
    margin-left: 15px;
    font-size: 1.1rem;
    font-family: 'Questrial', sans-serif; }
  .container-product .comprar {
    border: none;
    color: white;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif; }

/* MODAL CONTAINER - PRODUCTS */
.modal-container {
  width: 80%;
  margin: 0 10%;
  border-radius: 0.5rem;
  max-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../Assets/background/backgroundtotal2.png");
  background-size: cover;
  color: white;
  position: fixed;
  top: 16vh;
  overflow: auto;
  z-index: 9;
  scrollbar-color: none; }
  .modal-container .modal-container::-webkit-scrollbar {
    display: none; }
  .modal-container img {
    width: 150px; }
  .modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 100%;
    padding: 0.5rem 1rem; }
  .modal-container .modal-header-tittle {
    font-family: 'Questrial', sans-serif;
    margin-top: 0.5rem; }
  .modal-container .modal-header-button img {
    width: 60px;
    margin-top: 0.5rem; }
  .modal-container .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #959494; }
    .modal-container .modal-content h4 {
      font-family: 'Questrial', sans-serif; }
    .modal-container .modal-content p {
      font-family: 'Questrial', sans-serif; }
    .modal-container .modal-content span {
      margin-bottom: 12px; }
  .modal-container .total-content {
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    background: white;
    color: black;
    border-radius: 2rem;
    font-family: 'Questrial', sans-serif; }

/*CARRITO */
.sumar,
.restar {
  cursor: pointer; }

.background-ubicacion {
  width: 100%;
  background: url("../assets/background/backgroundtotal2.png");
  background-size: cover; }

.header-ubicacion {
  width: 100%;
  min-height: 470px;
  background: url("../assets/background/backgroundtotal.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .header-ubicacion .h2-header {
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5.7rem; }
    .header-ubicacion .h2-header span {
      background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Questrial', sans-serif;
      font-size: 4.5rem;
      font-weight: 600; }

.contenedor-ubicacion {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .contenedor-ubicacion .marco-ubicacion {
    width: 97%;
    background-color: rgba(253, 253, 253, 0.855);
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 0.5em;
    padding: 1rem 1rem 0.2rem 1rem; }
    .contenedor-ubicacion .marco-ubicacion h2 {
      text-align: center;
      border-bottom: 1px solid black;
      font-size: 1.8rem;
      font-family: 'Questrial', sans-serif; }
    .contenedor-ubicacion .marco-ubicacion ul {
      margin-top: 20px; }
      .contenedor-ubicacion .marco-ubicacion ul li {
        margin-top: 7px;
        font-size: 1.1rem;
        font-family: 'Questrial', sans-serif; }
  .contenedor-ubicacion .iframe {
    width: 90%;
    height: 700px;
    padding: 1rem; }
    .contenedor-ubicacion .iframe iframe {
      width: 100%;
      height: 100%;
      border-radius: 1rem; }

.background-contacto {
  background-color: black; }

.contenedor-contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.1rem; }
  .contenedor-contacto .video-contacto {
    width: 60%;
    position: relative;
    z-index: -1; }
  .contenedor-contacto .contenedor-form {
    width: 100%;
    height: 750px;
    margin-right: 6rem;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenedor-contacto .contenedor-form h2 {
      text-align: center;
      font-size: 3.5rem;
      background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Questrial', sans-serif;
      font-weight: 600; }
    .contenedor-contacto .contenedor-form p {
      text-align: center;
      margin-top: 20px;
      font-size: 20px;
      font-family: 'Questrial', sans-serif; }
    .contenedor-contacto .contenedor-form label {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: 'Questrial', sans-serif; }
    .contenedor-contacto .contenedor-form input {
      width: 100%;
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
      color: white; }
    .contenedor-contacto .contenedor-form textarea {
      width: 100%;
      outline: none; }
    .contenedor-contacto .contenedor-form button {
      width: 100%;
      transition: 0.5s; }
    .contenedor-contacto .contenedor-form button:hover {
      background-image: linear-gradient(94.3deg, #1a2140 10.9%, #515473 87.1%);
      color: white;
      outline: none;
      color: white; }

.footer-apple {
  background: linear-gradient(to right, black, #2c374e, #363941);
  margin-top: -8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: white; }
  .footer-apple .redsocial {
    display: flex;
    gap: 1rem; }
  .footer-apple h5 {
    font-family: 'Questrial', sans-serif; }
  .footer-apple .contacto-apple {
    display: flex;
    gap: 1rem; }

.footer-pages {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 0px 25px 0px 25px; }

@media screen and (max-width: 1650px) {
  .header-index {
    min-height: 90vh; }
  .nav {
    padding: 1rem 3rem 0rem 2rem; }
    .nav .logo {
      font-size: 2.8rem; }
      .nav .logo img {
        width: 70px; }
    .nav .ul-nav {
      gap: 1.5rem; }
      .nav .ul-nav li a {
        font-size: 1.4rem; }
    .nav .button-carrito .cantidad-carrito {
      width: 1.2rem;
      height: 1.2rem;
      right: 1.7rem;
      top: 1rem;
      font-size: 0.8rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 410px;
      margin-left: 0.5rem;
      padding-right: 1rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: normal; }
      .portada-index .texto-portada h1 {
        font-size: 4.4rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0.5rem 0rem 1rem; }
      .portada-index .texto-portada p {
        font-size: 2.7rem; }
      .portada-index .texto-portada span {
        font-size: 2.8rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1.9rem; }
  .container-1 {
    min-height: 450px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 3.4rem; }
      .container-1 .texto-container1 span {
        font-size: 2.5rem; }
      .container-1 .texto-container1 button {
        font-size: 1.7rem;
        padding: 2px 13px; }
    .container-1 img {
      width: 520px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 60px; }
    .footer-apple .img-gmail {
      width: 65px; }
    .footer-apple h5 {
      font-size: 1.3rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 4.3rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 25%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(4, auto); }
    .container-product .card {
      width: 280px; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 28vh; }
    .header-ubicacion .h2-header {
      font-size: 3.7rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 2.5rem;
      font-weight: 600;
      padding: 1.5rem; }
      .header-ubicacion .h2-header span {
        font-size: 2.5rem; }
  .contenedor-ubicacion .marco-ubicacion {
    width: 90%;
    margin: 1rem 1.65rem;
    margin-bottom: 0; }
    .contenedor-ubicacion .marco-ubicacion h2 {
      font-size: 1.5rem; }
    .contenedor-ubicacion .marco-ubicacion ul li {
      font-size: 1.2rem; }
  .contenedor-ubicacion img {
    width: 80%; }
  .contenedor-ubicacion .iframe {
    width: 100%;
    height: 580px; }
  .contenedor-contacto {
    flex-direction: row; }
    .contenedor-contacto .video-contacto {
      width: 50%; }
    .contenedor-contacto .contenedor-form {
      width: 45%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        grid-column: 1/3;
        font-size: 3rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1.2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 1500px) {
  .header-index {
    min-height: 80vh; }
  .nav {
    padding: 1rem 3rem 0rem 2rem; }
    .nav .logo {
      font-size: 2.8rem; }
      .nav .logo img {
        width: 70px; }
    .nav .ul-nav {
      gap: 1.5rem; }
      .nav .ul-nav li a {
        font-size: 1.4rem; }
    .nav .button-carrito .cantidad-carrito {
      width: 1.2rem;
      height: 1.2rem;
      right: 1.7rem;
      top: 1rem;
      font-size: 0.8rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 350px;
      margin-left: 0.5rem;
      padding-right: 1rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: normal; }
      .portada-index .texto-portada h1 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0.5rem 0rem 1rem; }
      .portada-index .texto-portada p {
        font-size: 2.7rem; }
      .portada-index .texto-portada span {
        font-size: 2.8rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1.9rem; }
  .container-1 {
    min-height: 430px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 3rem; }
      .container-1 .texto-container1 span {
        font-size: 2.5rem; }
      .container-1 .texto-container1 button {
        font-size: 1.7rem;
        padding: 2px 13px; }
    .container-1 img {
      width: 500px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 50px; }
    .footer-apple .img-gmail {
      width: 55px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 4rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 30%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, auto); }
    .container-product .card {
      width: 280px; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 28vh; }
    .header-ubicacion .h2-header {
      font-size: 3.5rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 2.5rem;
      font-weight: 600;
      padding: 1.5rem; }
      .header-ubicacion .h2-header span {
        font-size: 2.5rem; }
  .contenedor-ubicacion .marco-ubicacion {
    width: 90%;
    margin: 1rem 1.65rem;
    margin-bottom: 0; }
    .contenedor-ubicacion .marco-ubicacion h2 {
      font-size: 1.5rem; }
    .contenedor-ubicacion .marco-ubicacion ul li {
      font-size: 1.2rem; }
  .contenedor-ubicacion img {
    width: 80%; }
  .contenedor-ubicacion .iframe {
    width: 100%;
    height: 580px; }
  .contenedor-contacto {
    flex-direction: row; }
    .contenedor-contacto .video-contacto {
      width: 50%; }
    .contenedor-contacto .contenedor-form {
      width: 45%; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        grid-column: 1/3;
        font-size: 3rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1.2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 1357px) {
  .header-index {
    min-height: 80vh; }
  .nav {
    padding: 1rem 3rem 0rem 2rem; }
    .nav .logo {
      font-size: 2.6rem; }
      .nav .logo img {
        width: 65px; }
    .nav .ul-nav {
      gap: 1.5rem; }
      .nav .ul-nav li a {
        font-size: 1.4rem; }
    .nav .button-carrito .cantidad-carrito {
      width: 1.2rem;
      height: 1.2rem;
      right: 1.7rem;
      top: 1rem;
      font-size: 0.8rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 350px;
      margin-left: 0.5rem;
      padding-right: 1rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: normal; }
      .portada-index .texto-portada h1 {
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0.5rem 0rem 1rem; }
      .portada-index .texto-portada p {
        font-size: 2.5rem; }
      .portada-index .texto-portada span {
        font-size: 2.6rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1.7rem; }
  .container-1 {
    min-height: 430px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 2.8rem; }
      .container-1 .texto-container1 span {
        font-size: 2.4rem; }
      .container-1 .texto-container1 button {
        font-size: 1.5rem;
        padding: 2px 13px; }
    .container-1 img {
      width: 500px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 50px; }
    .footer-apple .img-gmail {
      width: 55px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 3.5rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 30%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, auto); }
    .container-product .card {
      width: 280px; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 28vh; }
    .header-ubicacion .h2-header {
      font-size: 3rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 2.5rem;
      font-weight: 600;
      padding: 0.5rem; }
      .header-ubicacion .h2-header span {
        font-size: 2.5rem; }
  .contenedor-ubicacion .marco-ubicacion {
    width: 90%;
    margin: 1rem 1.65rem;
    margin-bottom: 0; }
    .contenedor-ubicacion .marco-ubicacion h2 {
      font-size: 1.5rem; }
    .contenedor-ubicacion .marco-ubicacion ul li {
      font-size: 1.2rem; }
  .contenedor-ubicacion img {
    width: 80%; }
  .contenedor-ubicacion .iframe {
    width: 100%;
    height: 580px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 80%; }
    .contenedor-contacto .contenedor-form {
      width: 80%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        grid-column: 1/3;
        font-size: 3rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1.2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 1250px) {
  .header-index {
    min-height: 25vh; }
  .nav {
    padding: 1rem 3rem 0rem 2rem; }
    .nav .logo {
      font-size: 2.1rem; }
      .nav .logo img {
        width: 50px; }
    .nav .ul-nav {
      gap: 1.5rem; }
      .nav .ul-nav li a {
        font-size: 1.3rem; }
    .nav .button-carrito .cantidad-carrito {
      width: 1.2rem;
      height: 1.2rem;
      right: 1.7rem;
      top: 1rem;
      font-size: 0.8rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 260px;
      margin-top: -4.8rem;
      margin-left: 0.5rem;
      padding-right: 1rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: normal; }
      .portada-index .texto-portada h1 {
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0.5rem 0rem 1rem; }
      .portada-index .texto-portada p {
        font-size: 2.5rem; }
      .portada-index .texto-portada span {
        font-size: 2.6rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1.7rem; }
  .container-1 {
    min-height: 350px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 2.6rem; }
      .container-1 .texto-container1 span {
        font-size: 2.2rem; }
      .container-1 .texto-container1 button {
        font-size: 1.5rem;
        padding: 2px 13px; }
    .container-1 img {
      width: 400px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 50px; }
    .footer-apple .img-gmail {
      width: 55px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 3rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 30%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, auto); }
    .container-product .card {
      width: 280px; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 28vh; }
    .header-ubicacion .h2-header {
      font-size: 3rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 2.5rem;
      font-weight: 600;
      padding: 0.5rem; }
      .header-ubicacion .h2-header span {
        font-size: 2.5rem; }
  .contenedor-ubicacion .marco-ubicacion {
    width: 90%;
    margin: 1rem 1.65rem;
    margin-bottom: 0; }
    .contenedor-ubicacion .marco-ubicacion h2 {
      font-size: 1.5rem; }
    .contenedor-ubicacion .marco-ubicacion ul li {
      font-size: 1.2rem; }
  .contenedor-ubicacion img {
    width: 80%; }
  .contenedor-ubicacion .iframe {
    width: 100%;
    height: 580px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 90%; }
    .contenedor-contacto .contenedor-form {
      width: 80%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        grid-column: 1/3;
        font-size: 3rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1.2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 1150px) {
  .header-index {
    min-height: 25vh; }
  .nav {
    padding: 1rem 3rem 0rem 2rem; }
    .nav .logo {
      font-size: 2.1rem; }
      .nav .logo img {
        width: 50px; }
    .nav .ul-nav {
      gap: 1.5rem; }
      .nav .ul-nav li a {
        font-size: 1.2rem; }
    .nav .button-carrito .cantidad-carrito {
      width: 1.2rem;
      height: 1.2rem;
      right: 1.7rem;
      top: 1rem;
      font-size: 0.8rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 250px;
      margin-top: -4.8rem;
      margin-left: 1.5rem;
      padding-right: 1rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: normal; }
      .portada-index .texto-portada h1 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0.5rem 0rem 1rem; }
      .portada-index .texto-portada p {
        font-size: 2.1rem; }
      .portada-index .texto-portada span {
        font-size: 2.2rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1.7rem; }
  .container-1 {
    min-height: 350px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 2.33rem; }
      .container-1 .texto-container1 span {
        font-size: 2.2rem; }
      .container-1 .texto-container1 button {
        font-size: 1.5rem;
        padding: 2px 10px; }
    .container-1 img {
      width: 400px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 50px; }
    .footer-apple .img-gmail {
      width: 55px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 3rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 30%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, auto); }
    .container-product .card {
      width: 280px; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 28vh; }
    .header-ubicacion .h2-header {
      font-size: 3rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 2.5rem;
      font-weight: 600;
      padding: 0.5rem; }
      .header-ubicacion .h2-header span {
        font-size: 2.5rem; }
  .contenedor-ubicacion .marco-ubicacion {
    width: 90%;
    margin: 1rem 1.65rem;
    margin-bottom: 0; }
    .contenedor-ubicacion .marco-ubicacion h2 {
      font-size: 1.5rem; }
    .contenedor-ubicacion .marco-ubicacion ul li {
      font-size: 1.2rem; }
  .contenedor-ubicacion img {
    width: 80%; }
  .contenedor-ubicacion .iframe {
    width: 100%;
    height: 580px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 100%; }
    .contenedor-contacto .contenedor-form {
      width: 80%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        grid-column: 1/3;
        font-size: 3rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1.2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 1024px) {
  .header-index {
    min-height: 25vh; }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0.7rem 1rem 0rem 0rem; }
    .menu button {
      background: none;
      border: none; }
    .menu img {
      width: 40px; }
  .abrir-menu,
  .cerrar-menu {
    display: block; }
  .cerrar-menu {
    background: none;
    border: none; }
    .cerrar-menu img {
      width: 30px;
      transition: 0.4s; }
    .cerrar-menu img:hover {
      transform: rotate(45deg); }
  .nav {
    margin-top: -2.4rem;
    padding: 0;
    margin-left: 0.5rem; }
    .nav .logo {
      font-size: 2.1rem; }
      .nav .logo img {
        width: 45px; }
    .nav .ul-nav {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #0e0d15;
      padding: 1rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      z-index: 1; }
    .nav .ul-nav.visible {
      opacity: 1;
      visibility: visible; }
    .nav .button-carrito .cantidad-carrito {
      top: 15rem;
      right: 3rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 220px;
      margin-top: -4.8rem;
      margin-left: 2rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: normal; }
      .portada-index .texto-portada h1 {
        font-size: 2.7rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0.5rem 0rem 1rem; }
      .portada-index .texto-portada p {
        font-size: 1.7rem; }
      .portada-index .texto-portada span {
        font-size: 1.9rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1.4rem; }
  .container-1 {
    min-height: 250px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 2rem; }
      .container-1 .texto-container1 span {
        font-size: 1.7rem; }
      .container-1 .texto-container1 button {
        font-size: 1.3rem;
        padding: 2px 10px; }
    .container-1 img {
      width: 320px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 50px; }
    .footer-apple .img-gmail {
      width: 55px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 2.5rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 30%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(2, auto); }
    .container-product .card {
      width: 280px; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 28vh; }
    .header-ubicacion .h2-header {
      font-size: 2.5rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 2.5rem;
      font-weight: 600;
      padding: 0.3rem; }
      .header-ubicacion .h2-header span {
        font-size: 2.3rem; }
  .contenedor-ubicacion .marco-ubicacion {
    width: 90%;
    margin: 1rem 1.65rem;
    margin-bottom: 0; }
    .contenedor-ubicacion .marco-ubicacion h2 {
      font-size: 1.5rem; }
    .contenedor-ubicacion .marco-ubicacion ul li {
      font-size: 1.2rem; }
  .contenedor-ubicacion img {
    width: 80%; }
  .contenedor-ubicacion .iframe {
    width: 100%;
    height: 580px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 100%; }
    .contenedor-contacto .contenedor-form {
      width: 80%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        grid-column: 1/3;
        font-size: 3rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1.2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 768px) {
  .header-index {
    min-height: 25vh; }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0.7rem 0.5rem 0rem 0rem; }
    .menu button {
      background: none;
      border: none; }
    .menu img {
      width: 35px; }
  .abrir-menu,
  .cerrar-menu {
    display: block; }
  .cerrar-menu {
    background: none;
    border: none; }
    .cerrar-menu img {
      width: 30px;
      transition: 0.4s; }
    .cerrar-menu img:hover {
      transform: rotate(45deg); }
  .nav {
    margin-top: -2rem;
    padding: 0;
    margin-left: 0.5rem; }
    .nav .logo {
      font-size: 1.9rem; }
      .nav .logo img {
        width: 40px; }
    .nav .ul-nav {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #0e0d15;
      padding: 1rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      z-index: 1; }
    .nav .ul-nav.visible {
      opacity: 1;
      visibility: visible; }
    .nav .button-carrito .cantidad-carrito {
      top: 15rem;
      right: 3rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 180px;
      margin-top: -4.8rem;
      margin-left: 1.1rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: 100%; }
      .portada-index .texto-portada h1 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 0.5rem 0rem 1rem; }
      .portada-index .texto-portada p {
        font-size: 1.5rem; }
      .portada-index .texto-portada span {
        font-size: 1.7rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1.2rem; }
  .container-1 {
    min-height: 200px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 1.6rem; }
      .container-1 .texto-container1 span {
        font-size: 1.5rem; }
      .container-1 .texto-container1 button {
        font-size: 1.1rem;
        padding: 2px 10px; }
    .container-1 img {
      width: 260px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 50px; }
    .footer-apple .img-gmail {
      width: 55px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 2rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 35%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(2, auto); }
    .container-product .card {
      width: 280px; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 23vh; }
    .header-ubicacion .h2-header {
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
      font-weight: 600;
      padding: 0.3rem; }
      .header-ubicacion .h2-header span {
        font-size: 2rem; }
  .contenedor-ubicacion {
    flex-direction: column; }
    .contenedor-ubicacion .marco-ubicacion {
      width: 90%;
      margin: 1rem auto;
      margin-bottom: 0; }
      .contenedor-ubicacion .marco-ubicacion h2 {
        font-size: 1.5rem; }
      .contenedor-ubicacion .marco-ubicacion ul li {
        font-size: 1.2rem; }
    .contenedor-ubicacion img {
      width: 70%; }
    .contenedor-ubicacion .iframe {
      width: 95%;
      height: 300px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 100%; }
    .contenedor-contacto .contenedor-form {
      width: 80%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        font-size: 2.5rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1.3rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 640px) {
  .header-index {
    min-height: 25vh; }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0.7rem 0.5rem 0rem 0rem; }
    .menu button {
      background: none;
      border: none; }
    .menu img {
      width: 30px; }
  .abrir-menu,
  .cerrar-menu {
    display: block; }
  .cerrar-menu {
    background: none;
    border: none; }
    .cerrar-menu img {
      width: 30px;
      transition: 0.4s; }
    .cerrar-menu img:hover {
      transform: rotate(45deg); }
  .nav {
    margin-top: -2rem;
    padding: 0;
    margin-left: 0.5rem; }
    .nav .logo {
      font-size: 1.6rem; }
      .nav .logo img {
        width: 40px; }
    .nav .ul-nav {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #0e0d15;
      padding: 1rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      z-index: 1; }
    .nav .ul-nav.visible {
      opacity: 1;
      visibility: visible; }
    .nav .button-carrito .cantidad-carrito {
      top: 15rem;
      right: 3rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 140px;
      margin-top: -4.8rem;
      margin-left: 0.7rem; }
    .portada-index .texto-portada {
      margin-top: 1rem;
      line-height: 100%; }
      .portada-index .texto-portada h1 {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem;
        margin-bottom: 1px; }
      .portada-index .texto-portada p {
        font-size: 1.33rem;
        margin-bottom: 13px; }
      .portada-index .texto-portada span {
        font-size: 1.5rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1rem; }
  .container-1 {
    min-height: 160px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 1.3rem; }
      .container-1 .texto-container1 span {
        font-size: 1.3rem; }
      .container-1 .texto-container1 button {
        font-size: 1rem;
        padding: 2px 10px; }
    .container-1 img {
      width: 190px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 40px; }
    .footer-apple .img-gmail {
      width: 45px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 1.7rem;
      padding: 0rem 0.3rem 0rem 0.7rem; }
    .header-productos .portada-productos img {
      width: 35%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(1, auto); }
    .container-product .card {
      width: 60%;
      margin: auto; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 23vh; }
    .header-ubicacion .h2-header {
      font-size: 1.81rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
      font-weight: 600;
      padding: 0.3rem; }
      .header-ubicacion .h2-header span {
        font-size: 1.7rem; }
  .contenedor-ubicacion {
    flex-direction: column; }
    .contenedor-ubicacion .marco-ubicacion {
      width: 90%;
      margin: 1rem auto;
      margin-bottom: 0; }
      .contenedor-ubicacion .marco-ubicacion h2 {
        font-size: 1.5rem; }
      .contenedor-ubicacion .marco-ubicacion ul li {
        font-size: 1rem; }
    .contenedor-ubicacion img {
      width: 70%; }
    .contenedor-ubicacion .iframe {
      width: 95%;
      height: 300px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 100%; }
    .contenedor-contacto .contenedor-form {
      width: 90%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem; }
      .contenedor-contacto .contenedor-form h2 {
        font-size: 2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1rem; }
      .contenedor-contacto .contenedor-form .bloque {
        grid-column: 1/3;
        margin-bottom: -2rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (max-width: 517px) {
  .header-index {
    min-height: 25vh; }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0.7rem 0.5rem 0rem 0rem; }
    .menu button {
      background: none;
      border: none; }
    .menu img {
      width: 30px; }
  .abrir-menu,
  .cerrar-menu {
    display: block; }
  .cerrar-menu {
    background: none;
    border: none; }
    .cerrar-menu img {
      width: 30px;
      transition: 0.4s; }
    .cerrar-menu img:hover {
      transform: rotate(45deg); }
  .nav {
    margin-top: -2rem;
    padding: 0;
    margin-left: 0.5rem; }
    .nav .logo {
      font-size: 1.6rem; }
      .nav .logo img {
        width: 40px; }
    .nav .ul-nav {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #0e0d15;
      padding: 1rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      z-index: 1; }
    .nav .ul-nav.visible {
      opacity: 1;
      visibility: visible; }
    .nav .button-carrito .cantidad-carrito {
      top: 15rem;
      right: 3rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 140px;
      margin-top: -4rem;
      margin-left: 1rem; }
    .portada-index .texto-portada {
      margin-top: 1rem; }
      .portada-index .texto-portada h1 {
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 1px; }
      .portada-index .texto-portada p {
        font-size: 1.3rem;
        margin-bottom: 13px;
        line-height: normal; }
      .portada-index .texto-portada span {
        font-size: 1.4rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 3px 35px;
        font-size: 1rem; }
  .container-1 {
    min-height: 160px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 1.3rem; }
      .container-1 .texto-container1 span {
        font-size: 1.3rem; }
      .container-1 .texto-container1 button {
        font-size: 1rem;
        padding: 2px 10px; }
    .container-1 img {
      width: 190px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 40px; }
    .footer-apple .img-gmail {
      width: 45px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 180px; }
    .header-productos .portada-productos h2 {
      font-size: 1.5rem;
      padding: 0rem 0.3rem 0rem 0.9rem; }
    .header-productos .portada-productos img {
      width: 35%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(1, auto); }
    .container-product .card {
      width: 65%;
      margin: auto; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 23vh; }
    .header-ubicacion .h2-header {
      font-size: 1.77rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
      font-weight: 600;
      padding: 0.3rem; }
      .header-ubicacion .h2-header span {
        font-size: 1.7rem; }
  .contenedor-ubicacion {
    flex-direction: column; }
    .contenedor-ubicacion .marco-ubicacion {
      width: 90%;
      margin: 1rem auto;
      margin-bottom: 0; }
      .contenedor-ubicacion .marco-ubicacion h2 {
        font-size: 1.5rem; }
      .contenedor-ubicacion .marco-ubicacion ul li {
        font-size: 1rem; }
    .contenedor-ubicacion img {
      width: 70%; }
    .contenedor-ubicacion .iframe {
      width: 95%;
      height: 300px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 100%; }
    .contenedor-contacto .contenedor-form {
      width: 95%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: block; }
      .contenedor-contacto .contenedor-form h2 {
        font-size: 2rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1rem; }
      .contenedor-contacto .contenedor-form .bloque {
        margin-bottom: 0rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }

@media screen and (min-width: 320px) and (max-width: 414px) {
  .header-index {
    min-height: 25vh; }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0.7rem 0.5rem 0rem 0rem; }
    .menu button {
      background: none;
      border: none; }
    .menu img {
      width: 26px; }
  .abrir-menu,
  .cerrar-menu {
    display: block; }
  .cerrar-menu {
    background: none;
    border: none; }
    .cerrar-menu img {
      width: 30px;
      transition: 0.4s; }
    .cerrar-menu img:hover {
      transform: rotate(45deg); }
  .nav {
    margin-top: -1.7rem;
    padding: 0;
    margin-left: 0.5rem; }
    .nav .logo {
      font-size: 1.4rem; }
      .nav .logo img {
        width: 35px; }
    .nav .ul-nav {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #0e0d15;
      padding: 1rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      z-index: 1; }
    .nav .ul-nav.visible {
      opacity: 1;
      visibility: visible; }
    .nav .button-carrito .cantidad-carrito {
      top: 15rem;
      right: 3rem; }
  .portada-index {
    gap: 0rem; }
    .portada-index img {
      width: 120px;
      margin-top: -4rem;
      margin-left: 0.7rem; }
    .portada-index .texto-portada {
      margin-top: 0.65rem; }
      .portada-index .texto-portada h1 {
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 1px; }
      .portada-index .texto-portada p {
        font-size: 1.2rem;
        margin-bottom: 13px;
        line-height: normal; }
      .portada-index .texto-portada span {
        font-size: 1.3rem; }
      .portada-index .texto-portada .button-2 {
        margin-top: 0.5rem;
        padding: 2px 30px;
        font-size: 1rem; }
  .container-1 {
    min-height: 150px; }
    .container-1 .texto-container1 {
      margin-left: 1rem; }
      .container-1 .texto-container1 h2 {
        font-size: 1.05rem; }
      .container-1 .texto-container1 span {
        font-size: 1.2rem; }
      .container-1 .texto-container1 button {
        font-size: 0.9rem;
        padding: 2px 10px; }
    .container-1 img {
      width: 160px; }
  .footer-apple {
    flex-direction: column;
    text-align: center;
    gap: 1rem; }
    .footer-apple img {
      width: 40px; }
    .footer-apple .img-gmail {
      width: 45px; }
    .footer-apple h5 {
      font-size: 1.1rem; }
  .header-productos {
    min-height: 130px; }
    .header-productos .portada-productos h2 {
      font-size: 1.3rem;
      padding: 0.7rem; }
    .header-productos .portada-productos img {
      width: 35%;
      margin-top: 20px;
      margin-right: 0.5rem; }
  .container-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(1, auto); }
    .container-product .card {
      width: 70%;
      margin: auto; }
  .modal-container {
    width: 90%;
    margin: 0 5%;
    top: 8vh; }
    .modal-container img {
      width: 120px; }
    .modal-container .modal-header-tittle {
      font-size: 1.5rem; }
    .modal-container .modal-header-button img {
      width: 30px; }
    .modal-container .modal-content {
      flex-direction: column; }
      .modal-container .modal-content h4 {
        font-size: 1rem; }
      .modal-container .modal-content p {
        font-size: 1rem; }
      .modal-container .modal-content span {
        font-size: 1rem; }
    .modal-container .total-content {
      width: 80%; }
  .header-ubicacion {
    min-height: 23vh; }
    .header-ubicacion .h2-header {
      font-size: 1.7rem;
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
      font-weight: 600;
      padding: 0.3rem; }
      .header-ubicacion .h2-header span {
        font-size: 1.5rem; }
  .contenedor-ubicacion {
    flex-direction: column; }
    .contenedor-ubicacion .marco-ubicacion {
      width: 90%;
      margin: 1rem auto;
      margin-bottom: 0; }
      .contenedor-ubicacion .marco-ubicacion h2 {
        font-size: 1.5rem; }
      .contenedor-ubicacion .marco-ubicacion ul li {
        font-size: 1rem; }
    .contenedor-ubicacion img {
      width: 70%; }
    .contenedor-ubicacion .iframe {
      width: 95%;
      height: 300px; }
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .video-contacto {
      width: 100%; }
    .contenedor-contacto .contenedor-form {
      width: 90%;
      margin: auto; }
      .contenedor-contacto .contenedor-form .mediaquery {
        display: block; }
      .contenedor-contacto .contenedor-form h2 {
        font-size: 2rem; }
      .contenedor-contacto .contenedor-form .bloque {
        margin-bottom: 0rem; }
      .contenedor-contacto .contenedor-form p {
        font-size: 1rem; }
      .contenedor-contacto .contenedor-form input {
        text-align: center; } }
