@font-face {
  font-family: "font-logo";
  src: url("../assets/fonts/Rubik-Regular.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.header-index {
  width: 100%;
  height: 700px;
  background: url("../assets/background/backgroundtotal2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

header nav {
  display: flex; }

header .logo {
  margin-top: 15px;
  margin-left: 20px;
  background: linear-gradient(to right, #7ba6c7, #d7d2cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 43px; }

header .nav-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 27px;
  cursor: pointer;
  display: none; }

header .nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: 23px;
  margin-left: 17%; }
  header .nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-family: "font-logo"; }
  header .nav-menu .button-carrito {
    border: none;
    background: none; }

.container-1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .container-1 .img-1 {
    margin-top: 44px;
    margin-left: 6rem; }
  .container-1 .container-texto1 {
    margin-top: 80px;
    margin-right: 60px;
    text-align: center; }
  .container-1 .h1-1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 90px; }
  .container-1 .span-cuotas {
    background: linear-gradient(to left, #ADA996, #DBDBDB, #EAEAEA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px; }
  .container-1 .span-logo {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px; }
  .container-1 a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif; }
  .container-1 .button-1 {
    padding: 7px 25px;
    border-radius: 2rem;
    font-size: 35px; }
    .container-1 .button-1 a:hover {
      color: black; }

.container-2 {
  width: 100%;
  height: 600px;
  background: url("../assets/background/backgroundtotal.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container-2 .container-texto2 {
    margin-left: 40px; }
  .container-2 .button-2 {
    padding: 7px 25px;
    border-radius: 2rem;
    font-size: 35px; }
    .container-2 .button-2 a:hover {
      color: black; }
  .container-2 .h2-2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 60px; }
  .container-2 .span-logo2 {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .container-2 a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif; }
  .container-2 .img-2 {
    margin-top: 30px; }

.container-3 .video {
  width: 100%; }

.background-product {
  width: 100%;
  background: url("../assets/background/backgroundtotal2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.header-prod {
  width: 100%;
  height: 500px;
  background-color: black; }

.portada-prod {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .portada-prod h2 {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    font-size: 80px; }
  .portada-prod img {
    margin-top: 55px; }

/* CONTENT - MAIN PRODUCT */
.container-product {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .container-product .content-img {
    transition: 0.3s; }
  .container-product .content-img:hover {
    background-color: black; }
  .container-product .card {
    width: 380px;
    background: url("../Assets/background/backgroundtotal2.png");
    background-attachment: fixed;
    text-align: start;
    color: white; }
  .container-product .content-h3 {
    text-align: center;
    border-radius: 0.2rem;
    padding: 7px;
    margin-bottom: 15px;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    color: white;
    text-transform: uppercase; }
  .container-product .content-h4 {
    margin-left: 15px;
    font-size: 17px; }
  .container-product .content-price {
    margin-top: 9px;
    margin-left: 15px;
    font-size: 17px; }
  .container-product .content-text {
    margin-left: 15px;
    font-size: 17px; }
  .container-product .comprar {
    border: none;
    color: white;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    padding: 5px;
    text-transform: uppercase; }

/* MODAL CONTAINER - PRODUCTS */
.modal-container {
  width: 80%;
  margin: 0 10%;
  border-radius: 0.5rem;
  max-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../Assets/background/backgroundtotal2.png");
  background-size: cover;
  color: white;
  position: fixed;
  top: 9vh;
  overflow: auto;
  z-index: 9;
  scrollbar-color: none; }
  .modal-container .modal-container::-webkit-scrollbar {
    display: none; }
  .modal-container img {
    width: 150px; }
  .modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 100%; }
  .modal-container .modal-header-tittle {
    justify-self: start;
    margin-left: 20px; }
  .modal-container .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #959494; }
  .modal-container .modal-header-button img {
    width: 60px;
    margin-top: 7px;
    margin-right: 20px; }
  .modal-container .total-content {
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    background: white;
    color: black;
    border-radius: 2rem; }

/*CONTADOR DE CANTIDAD */
.cantidad-carrito {
  background-color: #fefeff;
  color: black;
  border-radius: 100%;
  font-size: 12px;
  padding: 5px;
  top: 23px;
  right: 40.3rem;
  position: absolute;
  display: none; }

/*CARRITO */
.sumar,
.restar {
  cursor: pointer; }

.header-ubi {
  width: 100%;
  height: 470px;
  background: url("../assets/background/backgroundtotal.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.h2-header {
  margin-top: 100px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 90px; }
  .h2-header span {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 73px; }

.body-ubi {
  width: 100%;
  background: url("../assets/background/backgroundtotal2.png");
  background-size: cover; }

.content-ubi {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.marco-ubi {
  width: 92%;
  background-color: rgba(253, 253, 253, 0.855);
  margin: auto;
  margin-top: 17px;
  border-radius: 0.5em;
  padding: 1.1rem; }
  .marco-ubi h2 {
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 35px; }
  .marco-ubi ul {
    margin-top: 20px; }
    .marco-ubi ul li {
      margin-top: 7px;
      font-size: 18px; }

.iframe {
  width: 68%;
  height: 700px;
  border-radius: 1em;
  margin: 15px 40px 10px 10px; }

.body-contact {
  background-color: black; }

.contain-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.video-contact {
  width: 60%;
  position: relative;
  z-index: -1; }

.container-form {
  width: 35%;
  height: 750px;
  margin: auto;
  margin-right: 6rem;
  background: black;
  border-radius: 0.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-form h2 {
    text-align: center;
    font-size: 70px;
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .container-form p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px; }
  .container-form label {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }
  .container-form input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white; }
  .container-form textarea {
    width: 100%;
    outline: none; }
  .container-form button {
    width: 100%;
    transition: 0.5s; }
  .container-form button:hover {
    background-image: linear-gradient(94.3deg, #1a2140 10.9%, #515473 87.1%);
    color: white;
    outline: none;
    color: white; }

.footer-apple {
  background: linear-gradient(to right, black, #2c374e, #363941);
  margin-top: -8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  color: white; }
  .footer-apple .redsocial {
    display: flex;
    gap: 10px; }
  .footer-apple h5 {
    font-family: 'Rubik', sans-serif; }
  .footer-apple .contacto-apple {
    display: flex;
    gap: 10px; }

.footer-pages {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 10px 25px 0px 25px; }

@media only screen and (max-width: 1400px) {
  .header-index {
    height: 550px; }
  .container-1 .img-1 {
    width: 296px;
    margin-top: 22px;
    margin-left: 1.9rem; }
  .container-1 .container-texto1 {
    margin-top: 0px;
    margin-right: 0px; }
  .container-1 .h1-1 {
    margin-top: 42px;
    font-size: 73px; }
  .container-1 .span-cuotas {
    font-size: 48px; }
  .container-1 .span-logo {
    font-size: 46px; }
  .container-1 .button-1 {
    padding: 3px 12px;
    font-size: 30px; }
  .container-2 {
    height: 450px;
    align-items: center; }
    .container-2 .container-texto2 {
      margin-left: 17px; }
    .container-2 .h2-2 {
      font-size: 50px; }
    .container-2 .span-logo2 {
      font-size: 44px; }
    .container-2 .img-2 {
      width: 500px;
      margin-top: 30px; }
    .container-2 .button-2 {
      padding: 3px 12px;
      font-size: 30px; }
  .header-prod {
    height: 450px; }
  .portada-prod h2 {
    width: 50%;
    color: white;
    font-size: 67px;
    margin-left: 10px; }
  .portada-prod img {
    width: 370px;
    margin-top: 49px;
    margin-right: 12px; }
  .container-product {
    grid-template-columns: repeat(4, auto);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .container-product .card {
      width: 270px; }
    .container-product .content-h3 {
      padding: 8px;
      font-size: 23px; }
    .container-product .content-h4 {
      margin-left: 11px; }
    .container-product .content-price {
      margin-left: 11px; }
    .container-product .content-text {
      margin-left: 11px; }
  .cantidad-carrito {
    padding: 4px;
    top: 1.5rem;
    right: 13.3rem; }
  .modal-container {
    width: 90%;
    margin: 0px 70px; }
    .modal-container img {
      width: 130px; }
    .modal-container .modal-header-tittle {
      margin-top: 5px; }
    .modal-container .modal-content h4 {
      font-size: 18px; }
    .modal-container .modal-content p {
      font-size: 16px; }
    .modal-container .modal-header-button img {
      width: 45px; }
    .modal-container .total-content {
      width: 60%;
      font-size: 15px; }
  .header-ubi {
    height: 290px; }
  .h2-header {
    margin-top: 50px;
    font-size: 60px; }
    .h2-header span {
      font-size: 53px; }
  .content-ubi {
    display: block; }
  .marco-ubi {
    width: 95%;
    padding: 0.5rem;
    margin: 30px; }
    .marco-ubi h2 {
      font-size: 35px; }
    .marco-ubi ul li {
      font-size: 20px; }
  .img-ubi {
    width: 600px;
    margin-top: -30px; }
  .iframe {
    width: 92%;
    height: 350px;
    margin: 15px 0px 5px 55px; }
  .contain-contact {
    margin-top: 0;
    margin-right: 4rem; }
  .video-contact {
    width: 65%; }
  .container-form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 1rem; }
    .container-form h2 {
      font-size: 35px; }
    .container-form p {
      margin: 20px;
      font-size: 18px; }
  .footer-apple {
    display: block; }
    .footer-apple .redsocial {
      justify-content: center;
      align-items: center; }
      .footer-apple .redsocial img {
        width: 60px; }
    .footer-apple .copyright {
      margin-top: 7px;
      text-align: center; }
      .footer-apple .copyright h5 {
        font-size: 19px; }
    .footer-apple .contacto-apple {
      justify-content: center;
      align-items: center; }
      .footer-apple .contacto-apple img {
        width: 55px; }
      .footer-apple .contacto-apple .img-gmail {
        width: 60px; } }

@media only screen and (max-width: 1200px) {
  .header-index {
    height: 460px; }
  header nav {
    justify-content: space-between; }
  header .nav-toggle {
    display: block;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 40px; }
  header .nav-menu {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.807);
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
    margin-top: 13px;
    margin-left: 0px;
    position: fixed;
    top: 52px;
    right: 0;
    width: 100%;
    left: 100%;
    transition: left 0.3s;
    z-index: 1; }
  header .logo {
    font-size: 35px; }
    header .logo img {
      width: 40px; }
  header .nav-menu-visible {
    left: 0; }
  .container-1 .img-1 {
    width: 250px;
    margin-top: 12px;
    margin-left: 1.1rem; }
  .container-1 .container-texto1 {
    margin-top: 0px;
    margin-right: 0px; }
  .container-1 .h1-1 {
    margin-top: 42px;
    font-size: 62px; }
  .container-1 .span-cuotas {
    font-size: 40px; }
  .container-1 .span-logo {
    font-size: 43px; }
  .container-1 .button-1 {
    padding: 3px 12px;
    font-size: 25px; }
  .container-2 {
    height: 360px;
    align-items: center; }
    .container-2 .container-texto2 {
      margin-left: 17px; }
    .container-2 .h2-2 {
      font-size: 40px; }
    .container-2 .span-logo2 {
      font-size: 39px; }
    .container-2 .img-2 {
      width: 430px;
      margin-top: 30px; }
    .container-2 .button-2 {
      padding: 3px 12px;
      font-size: 25px; }
  .header-prod {
    height: 380px; }
  .portada-prod h2 {
    width: 50%;
    color: white;
    font-size: 62px;
    margin-left: 10px; }
  .portada-prod img {
    width: 327px;
    margin-top: 27px;
    margin-right: 12px; }
  .container-product {
    grid-template-columns: repeat(4, auto);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .container-product .card {
      width: 232px; }
    .container-product .content-h3 {
      padding: 8px;
      font-size: 23px; }
    .container-product .content-h4 {
      margin-left: 11px; }
    .container-product .content-price {
      margin-left: 11px; }
    .container-product .content-text {
      margin-left: 11px; }
  .cantidad-carrito {
    padding: 4px;
    top: 19.5rem;
    right: 35.4rem; }
  .modal-container {
    width: 90%;
    margin: 0px 58px; }
    .modal-container img {
      width: 130px; }
    .modal-container .modal-header-tittle {
      margin-top: 5px; }
    .modal-container .modal-content h4 {
      font-size: 18px; }
    .modal-container .modal-content p {
      font-size: 16px; }
    .modal-container .modal-header-button img {
      width: 45px; }
    .modal-container .total-content {
      width: 60%;
      font-size: 15px; }
  .header-ubi {
    height: 290px; }
  .h2-header {
    margin-top: 50px;
    font-size: 60px; }
    .h2-header span {
      font-size: 53px; }
  .content-ubi {
    display: block; }
  .marco-ubi {
    width: 95%;
    padding: 0.5rem;
    margin: 30px; }
    .marco-ubi h2 {
      font-size: 35px; }
    .marco-ubi ul li {
      font-size: 20px; }
  .img-ubi {
    width: 600px;
    margin-top: -30px; }
  .iframe {
    width: 92%;
    height: 350px;
    margin: 15px 0px 5px 45px; }
  .contain-contact {
    margin-top: 0;
    margin-right: 4rem; }
  .video-contact {
    width: 65%; }
  .container-form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 1rem; }
    .container-form h2 {
      font-size: 35px; }
    .container-form p {
      margin: 20px;
      font-size: 18px; }
  .footer-apple {
    display: block; }
    .footer-apple .redsocial {
      justify-content: center;
      align-items: center; }
      .footer-apple .redsocial img {
        width: 60px; }
    .footer-apple .copyright {
      margin-top: 7px;
      text-align: center; }
      .footer-apple .copyright h5 {
        font-size: 19px; }
    .footer-apple .contacto-apple {
      justify-content: center;
      align-items: center; }
      .footer-apple .contacto-apple img {
        width: 55px; }
      .footer-apple .contacto-apple .img-gmail {
        width: 60px; } }

@media only screen and (max-width: 992px) {
  .header-index {
    height: 430px; }
  header nav {
    justify-content: space-between; }
  header .nav-toggle {
    display: block;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 40px; }
  header .nav-menu {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.807);
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin-top: 10px;
    margin-left: 0px;
    position: fixed;
    top: 52px;
    right: 0;
    width: 100%;
    left: 100%;
    transition: left 0.3s;
    z-index: 1; }
  header .logo {
    font-size: 32px; }
    header .logo img {
      width: 37px; }
  header .nav-menu-visible {
    left: 0; }
  .container-1 .img-1 {
    width: 230px;
    margin-top: 15px;
    margin-left: 1.1rem; }
  .container-1 .container-texto1 {
    margin-top: 0px;
    margin-right: 0px; }
  .container-1 .h1-1 {
    margin-top: 42px;
    font-size: 54px; }
  .container-1 .span-cuotas {
    font-size: 35px; }
  .container-1 .span-logo {
    font-size: 36px; }
  .container-1 .button-1 {
    padding: 3px 12px;
    font-size: 23px; }
  .container-2 {
    height: 350px;
    align-items: center; }
    .container-2 .container-texto2 {
      margin-left: 17px; }
    .container-2 .h2-2 {
      font-size: 35px; }
    .container-2 .span-logo2 {
      font-size: 33px; }
    .container-2 .img-2 {
      width: 366px;
      margin-top: 30px; }
    .container-2 .button-2 {
      padding: 3px 12px;
      font-size: 23px; }
  .header-prod {
    height: 360px; }
  .portada-prod h2 {
    width: 50%;
    color: white;
    font-size: 58px;
    margin-left: 10px; }
  .portada-prod img {
    width: 306px;
    margin-top: 27px;
    margin-right: 12px; }
  .container-product {
    grid-template-columns: repeat(3, auto);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .container-product .card {
      width: 232px; }
    .container-product .content-h3 {
      padding: 8px;
      font-size: 23px; }
    .container-product .content-h4 {
      margin-left: 11px; }
    .container-product .content-price {
      margin-left: 11px; }
    .container-product .content-text {
      margin-left: 11px; }
  .cantidad-carrito {
    padding: 4px;
    top: 17.5rem;
    right: 29rem; }
  .modal-container {
    width: 90%;
    margin: 0px 50px; }
    .modal-container img {
      width: 130px; }
    .modal-container .modal-header-tittle {
      margin-top: 5px; }
    .modal-container .modal-content h4 {
      font-size: 18px; }
    .modal-container .modal-content p {
      font-size: 16px; }
    .modal-container .modal-header-button img {
      width: 45px; }
    .modal-container .total-content {
      width: 60%;
      font-size: 15px; }
  .header-ubi {
    height: 290px; }
  .h2-header {
    margin-top: 50px;
    font-size: 56px; }
    .h2-header span {
      font-size: 53px; }
  .content-ubi {
    display: block; }
  .marco-ubi {
    width: 95%;
    padding: 0.5rem;
    margin: 25px; }
    .marco-ubi h2 {
      font-size: 30px; }
    .marco-ubi ul li {
      font-size: 20px; }
  .img-ubi {
    width: 570px;
    margin-top: -25px; }
  .iframe {
    width: 92%;
    height: 350px;
    margin: 15px 0px 5px 40px; }
  .contain-contact {
    display: block;
    margin: 0; }
  .video-contact {
    width: 100%; }
  .container-form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 1rem; }
    .container-form h2 {
      font-size: 35px; }
    .container-form p {
      margin: 20px;
      font-size: 18px; }
  .footer-apple {
    display: block; }
    .footer-apple .redsocial {
      justify-content: center;
      align-items: center; }
      .footer-apple .redsocial img {
        width: 60px; }
    .footer-apple .copyright {
      margin-top: 7px;
      text-align: center; }
      .footer-apple .copyright h5 {
        font-size: 19px; }
    .footer-apple .contacto-apple {
      justify-content: center;
      align-items: center; }
      .footer-apple .contacto-apple img {
        width: 55px; }
      .footer-apple .contacto-apple .img-gmail {
        width: 60px; } }

@media only screen and (max-width: 768px) {
  .header-index {
    height: 363px; }
  header nav {
    justify-content: space-between; }
  header .nav-toggle {
    display: block;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 32px; }
  header .nav-menu {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.807);
    flex-direction: column;
    gap: 1.7rem;
    padding: 2rem;
    margin-top: 5px;
    margin-left: 0px;
    position: fixed;
    top: 52px;
    right: 0;
    width: 100%;
    left: 100%;
    transition: left 0.3s;
    z-index: 1; }
  header .logo {
    font-size: 28px; }
    header .logo img {
      width: 34px; }
  header .nav-menu-visible {
    left: 0; }
  .container-1 .img-1 {
    width: 190px;
    margin-top: 15px;
    margin-left: 1.1rem; }
  .container-1 .container-texto1 {
    margin-top: 0px;
    margin-right: 0px; }
  .container-1 .h1-1 {
    margin-top: 42px;
    font-size: 40px; }
  .container-1 .span-cuotas {
    font-size: 28px; }
  .container-1 .span-logo {
    font-size: 30px; }
  .container-1 .button-1 {
    padding: 3px 12px;
    font-size: 19px; }
  .container-2 {
    height: 300px;
    align-items: center; }
    .container-2 .container-texto2 {
      margin-left: 17px; }
    .container-2 .h2-2 {
      font-size: 30px; }
    .container-2 .span-logo2 {
      font-size: 27px; }
    .container-2 .img-2 {
      width: 330px;
      margin-top: 30px; }
    .container-2 .button-2 {
      padding: 3px 12px;
      font-size: 19px; }
  .header-prod {
    height: 320px; }
  .portada-prod h2 {
    width: 50%;
    color: white;
    font-size: 43px;
    margin-left: 10px; }
  .portada-prod img {
    width: 268px;
    margin-top: 27px;
    margin-right: 12px; }
  .container-product {
    grid-template-columns: repeat(3, auto);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .container-product .card {
      width: 232px; }
    .container-product .content-h3 {
      padding: 8px;
      font-size: 23px; }
    .container-product .content-h4 {
      margin-left: 11px; }
    .container-product .content-price {
      margin-left: 11px; }
    .container-product .content-text {
      margin-left: 11px; }
  .cantidad-carrito {
    padding: 4px;
    top: 16rem;
    right: 22rem; }
  .modal-container {
    width: 90%;
    margin: 0px 37px; }
    .modal-container img {
      width: 100px; }
    .modal-container .modal-header-tittle {
      margin-top: 5px; }
    .modal-container .modal-content h4 {
      font-size: 16px; }
    .modal-container .modal-content p {
      font-size: 14px; }
    .modal-container .modal-header-button img {
      width: 45px; }
    .modal-container .total-content {
      width: 60%;
      font-size: 15px; }
  .header-ubi {
    height: 250px; }
  .h2-header {
    margin-top: 50px;
    font-size: 43px; }
    .h2-header span {
      font-size: 43px; }
  .content-ubi {
    display: block; }
  .marco-ubi {
    width: 95%;
    padding: 0.5rem;
    margin: 19px; }
    .marco-ubi h2 {
      font-size: 30px; }
    .marco-ubi ul li {
      font-size: 20px; }
  .img-ubi {
    width: 500px;
    margin-top: -19px; }
  .iframe {
    width: 92%;
    height: 350px;
    margin: 15px 0px 5px 29.5px; }
  .contain-contact {
    display: block; }
  .video-contact {
    width: 100%; }
  .container-form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 1rem; }
    .container-form h2 {
      font-size: 35px; }
    .container-form p {
      margin: 20px;
      font-size: 18px; }
  .footer-apple {
    display: block; }
    .footer-apple .redsocial {
      justify-content: center;
      align-items: center; }
      .footer-apple .redsocial img {
        width: 50px; }
    .footer-apple .copyright {
      margin-top: 7px;
      text-align: center; }
      .footer-apple .copyright h5 {
        font-size: 19px; }
    .footer-apple .contacto-apple {
      justify-content: center;
      align-items: center; }
      .footer-apple .contacto-apple img {
        width: 45px; }
      .footer-apple .contacto-apple .img-gmail {
        width: 50px; } }

@media only screen and (max-width: 576px) {
  .header-index {
    height: 320px; }
  header nav {
    justify-content: space-between; }
  header .nav-toggle {
    display: block;
    margin-top: 5px;
    margin-right: 20px; }
  header .nav-menu {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.807);
    flex-direction: column;
    gap: 1.3rem;
    padding: 2rem;
    margin-top: 0px;
    margin-left: 0px;
    position: fixed;
    top: 52px;
    right: 0;
    width: 100%;
    left: 100%;
    transition: left 0.3s;
    z-index: 1; }
    header .nav-menu a {
      font-size: 20px; }
  header .logo {
    font-size: 25px; }
    header .logo img {
      width: 32px; }
  header .nav-menu-visible {
    left: 0; }
  .container-1 .img-1 {
    width: 159px;
    margin-top: 21.5px;
    margin-left: 1.3rem; }
  .container-1 .container-texto1 {
    margin-top: -10px;
    margin-right: 0px; }
  .container-1 .h1-1 {
    font-size: 36px; }
  .container-1 .span-cuotas {
    font-size: 22px; }
  .container-1 .span-logo {
    font-size: 26px; }
  .container-1 .button-1 {
    padding: 3px 12px;
    font-size: 13px; }
  .container-2 {
    height: 260px;
    align-items: center; }
    .container-2 .container-texto2 {
      margin-left: 17px; }
    .container-2 .h2-2 {
      font-size: 25px; }
    .container-2 .span-logo2 {
      font-size: 22px; }
    .container-2 .img-2 {
      width: 270px;
      margin-top: 30px; }
    .container-2 .button-2 {
      padding: 3px 12px;
      font-size: 13px; }
  .header-prod {
    height: 270px; }
  .portada-prod h2 {
    width: 50%;
    color: white;
    font-size: 34px;
    margin-left: 10px; }
  .portada-prod img {
    width: 215px;
    margin-top: 25px;
    margin-right: 12px; }
  .container-product {
    grid-template-columns: repeat(2, auto);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .container-product .card {
      width: 257px; }
    .container-product .content-h4 {
      margin-left: 11px; }
    .container-product .content-price {
      margin-left: 11px; }
    .container-product .content-text {
      margin-left: 11px; }
  .cantidad-carrito {
    padding: 4px;
    top: 14.3rem;
    right: 16rem; }
  .modal-container {
    width: 90%;
    margin: 0px 25px; }
    .modal-container img {
      width: 90px; }
    .modal-container .modal-header-tittle {
      margin-top: 5px; }
    .modal-container .modal-content h4 {
      font-size: 15px; }
    .modal-container .modal-content p {
      font-size: 12px; }
    .modal-container .modal-header-button img {
      width: 45px; }
    .modal-container .total-content {
      width: 60%;
      font-size: 15px; }
  .header-ubi {
    height: 250px; }
  .h2-header {
    margin-top: 25px;
    font-size: 42px; }
    .h2-header span {
      font-size: 35px; }
  .content-ubi {
    display: block; }
  .marco-ubi {
    width: 93%;
    padding: 0.5rem;
    margin: 19px; }
    .marco-ubi h2 {
      font-size: 25px; }
    .marco-ubi ul li {
      font-size: 15px; }
  .img-ubi {
    width: 450px;
    margin-top: -19px; }
  .iframe {
    width: 92%;
    height: 320px;
    margin: 15px 0px 5px 24px; }
  .contain-contact {
    display: block; }
  .video-contact {
    width: 100%; }
  .container-form {
    width: 80%;
    height: 530px;
    margin-top: 40px;
    padding: 1rem;
    background: black; }
    .container-form h2 {
      font-size: 35px; }
    .container-form p {
      margin: 20px;
      font-size: 17px; }
    .container-form label {
      margin-top: 0;
      margin-bottom: 0; }
  .footer-apple {
    display: block; }
    .footer-apple .redsocial {
      justify-content: center;
      align-items: center; }
      .footer-apple .redsocial img {
        width: 40px; }
    .footer-apple .copyright {
      margin-top: 7px;
      text-align: center; }
      .footer-apple .copyright h5 {
        font-size: 17px; }
    .footer-apple .contacto-apple {
      justify-content: center;
      align-items: center; }
      .footer-apple .contacto-apple img {
        width: 40px; }
      .footer-apple .contacto-apple .img-gmail {
        width: 45px; } }

@media only screen and (max-width: 480px) {
  .header-index {
    height: 300px; }
  header nav {
    justify-content: space-between; }
  header .nav-toggle {
    display: block;
    margin-top: 5px;
    margin-right: 20px; }
  header .nav-menu {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.807);
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
    margin-top: 0px;
    margin-left: 0px;
    position: fixed;
    top: 52px;
    right: 0;
    width: 100%;
    left: 100%;
    transition: left 0.3s;
    z-index: 1; }
    header .nav-menu a {
      font-size: 20px; }
  header .logo {
    font-size: 22px; }
    header .logo img {
      width: 29px; }
  header .nav-menu-visible {
    left: 0; }
  .container-1 .img-1 {
    width: 145px;
    margin-top: 26px;
    margin-left: 1.2rem; }
  .container-1 .container-texto1 {
    margin-top: 0px;
    margin-right: 0px; }
  .container-1 .h1-1 {
    font-size: 29px; }
  .container-1 .span-cuotas {
    font-size: 17.5px; }
  .container-1 .span-logo {
    font-size: 24px; }
  .container-1 .button-1 {
    padding: 3px 12px;
    font-size: 13px; }
  .container-2 {
    height: 240px;
    align-items: center; }
    .container-2 .container-texto2 {
      margin-left: 17px; }
    .container-2 .span-logo2 {
      font-size: 22px; }
    .container-2 .h2-2 {
      font-size: 22px; }
    .container-2 .img-2 {
      width: 250px;
      margin-top: 30px; }
    .container-2 .button-2 {
      padding: 3px 12px;
      font-size: 13px; }
  .container-3 video {
    width: 100%; }
  .header-prod {
    height: 250px; }
  .portada-prod h2 {
    width: 50%;
    color: white;
    font-size: 28px;
    margin-left: 10px; }
  .portada-prod img {
    width: 192px;
    margin-top: 29px;
    margin-right: 12px; }
  .container-product {
    grid-template-columns: repeat(2, auto);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .container-product .card {
      width: 210px; }
    .container-product .content-h3 {
      padding: 9px;
      font-size: 20px; }
  .cantidad-carrito {
    padding: 4px;
    top: 14.3rem;
    right: 13rem; }
  /* MODAL CONTAINER - PRODUCTS */
  .modal-container {
    width: 90%;
    margin: 0px 25px; }
    .modal-container img {
      width: 90px; }
    .modal-container .modal-header-tittle {
      margin-top: 5px; }
    .modal-container .modal-content h4 {
      font-size: 15px; }
    .modal-container .modal-content p {
      font-size: 12px; }
    .modal-container .modal-header-button img {
      width: 45px; }
    .modal-container .total-content {
      width: 60%;
      font-size: 15px; }
  .header-ubi {
    height: 250px; }
  .h2-header {
    margin-top: 35px;
    font-size: 35px; }
    .h2-header span {
      font-size: 35px; }
  .content-ubi {
    display: block; }
  .marco-ubi {
    width: 92%;
    padding: 0.5rem;
    margin: 19px; }
    .marco-ubi h2 {
      font-size: 25px; }
    .marco-ubi ul li {
      font-size: 15px; }
  .img-ubi {
    width: 420px;
    margin-top: -19px; }
  .iframe {
    width: 92%;
    height: 300px;
    margin: 15px 0px 5px 19px; }
  .contain-contact {
    display: block; }
  .video-contact {
    width: 100%; }
  .container-form {
    width: 80%;
    height: 530px;
    margin-top: 50px;
    padding: 1rem;
    background: black; }
    .container-form h2 {
      font-size: 30px; }
    .container-form p {
      margin: 20px;
      font-size: 15px; }
    .container-form label {
      margin-top: 0;
      margin-bottom: 0; }
  .footer-apple {
    display: block; }
    .footer-apple .redsocial {
      justify-content: center;
      align-items: center; }
      .footer-apple .redsocial img {
        width: 40px; }
    .footer-apple .copyright {
      margin-top: 7px;
      text-align: center; }
      .footer-apple .copyright h5 {
        font-size: 17px; }
    .footer-apple .contacto-apple {
      justify-content: center;
      align-items: center; }
      .footer-apple .contacto-apple img {
        width: 40px; }
      .footer-apple .contacto-apple .img-gmail {
        width: 45px; } }
