@font-face {
  font-family: "font-logo";
  src: url("../assets/fonts/Rubik-Regular.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.header-index {
  width: 100%;
  height: 700px;
  background: url("../assets/background/backgroundtotal2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

header nav {
  display: flex;
  justify-content: space-between; }

header .logo {
  margin-top: 15px;
  margin-left: 15px;
  background: linear-gradient(to right, #7ba6c7, #d7d2cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

header .nav-toggle {
  margin-top: -80px;
  background: none;
  border: none;
  color: white;
  font-size: 27px;
  cursor: pointer;
  display: none; }

header .nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 15px; }
  header .nav-menu a {
    color: white;
    text-decoration: none; }
  header .nav-menu .button-carrito {
    border: none;
    background: none; }

.container-1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .container-1 .container-texto1 {
    text-align: center; }
  .container-1 .h1-1 {
    font-family: 'Noto Sans KR', sans-serif; }
  .container-1 .span-cuotas {
    background: linear-gradient(to left, #ADA996, #DBDBDB, #EAEAEA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .container-1 .span-logo {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .container-1 a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif; }

.container-2 {
  width: 100%;
  height: 600px;
  background: url("../assets/background/backgroundtotal.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex; }
  .container-2 .h2-2 {
    font-family: 'Noto Sans KR', sans-serif; }
  .container-2 .span-logo2 {
    background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .container-2 a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif; }

.container-3 .video {
  width: 100%; }

.header-prod {
  width: 100%;
  height: 300px;
  background-color: black; }

.portada-prod {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .portada-prod h2 {
    font-family: 'Noto Sans KR', sans-serif; }

.header-ubi {
  width: 100%;
  height: 700px;
  background: url("../assets/background/backgroundtotal2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.body-ubi {
  width: 100%;
  background: url("../assets/background/backgroundtotal2.png");
  background-size: cover; }

.marco-ubi {
  width: 92%;
  background-color: rgba(253, 253, 253, 0.855);
  margin: auto;
  margin-top: 17px;
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0.1em 0.5em; }
  .marco-ubi h2 {
    text-align: center;
    border-bottom: 1px solid black; }
  .marco-ubi ul {
    margin-top: 20px; }
    .marco-ubi ul li {
      margin-top: 7px; }

.img-ubi {
  width: 380px; }

.iframe {
  width: 92%;
  height: 300px;
  border-radius: 1em;
  margin: 15px 0px 10px 18px; }

.body-contact {
  background-color: black; }

.video-contact {
  width: 100%;
  position: relative;
  z-index: -1; }

.footer-apple {
  background: linear-gradient(to right, black, #2c374e, #363941);
  margin-top: -8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 0.7rem;
  color: white; }
  .footer-apple .redsocial {
    display: flex;
    gap: 10px; }
  .footer-apple h5 {
    font-family: 'Rubik', sans-serif; }
  .footer-apple .contacto-apple {
    display: flex;
    gap: 10px; }

.footer-pages {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 10px 25px 0px 25px; }

@media only screen and (max-width: 480px) {
  .header-index {
    height: 300px; }
  header .nav-toggle {
    display: block;
    margin-top: 8px;
    margin-right: 20px; }
  header .nav-menu {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.558);
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 0px;
    position: fixed;
    top: 52px;
    right: 0;
    width: 100%;
    left: 100%;
    transition: left 0.3s; }
  header .logo {
    font-size: 20px; }
  header .nav-menu-visible {
    left: 0; }
  .container-1 .img-1 {
    width: 145px;
    margin-top: 26px;
    margin-left: 1.2rem; }
  .container-1 .h1-1 {
    font-size: 29px; }
  .container-1 .span-cuotas {
    font-size: 17.5px; }
  .container-1 .span-logo {
    font-size: 22px; }
  .container-1 .button-1 {
    padding: 3px 12px;
    font-size: 13px; }
  .container-2 {
    height: 240px;
    align-items: center; }
    .container-2 .container-texto2 {
      margin-left: 17px; }
    .container-2 .h2-2 {
      font-size: 20px; }
    .container-2 .img-2 {
      width: 250px;
      margin-top: 30px; }
    .container-2 .button-2 {
      padding: 3px 12px;
      font-size: 13px; }
  .container-3 video {
    width: 100%; }
  .header-prod {
    height: 250px; }
  .portada-prod h2 {
    width: 50%;
    color: white;
    font-size: 28px;
    margin-left: 10px; }
  .portada-prod img {
    width: 192px;
    margin-top: 29px;
    margin-right: 12px; }
  .background-product {
    width: 100%;
    height: 100vw;
    background: url("../Assets/background/backgroundtotal2.png");
    background-size: cover;
    background-attachment: fixed; }
  .header-ubi {
    height: 250px; }
  .h2-header {
    margin-top: 35px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px; }
    .h2-header span {
      background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 35px; }
  .container-form {
    width: 80%;
    background: url("../assets/background/backgroundtotal2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 50px;
    padding: 1rem;
    color: white; }
    .container-form h2 {
      text-align: center;
      font-size: 30px;
      background: linear-gradient(to right, #ffb006, #db2e85, #db2e85, #ffb006, #ffb006, #db2e85);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    .container-form p {
      text-align: center;
      margin: 20px;
      font-size: 15px;
      color: white; }
    .container-form input {
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
      color: white; }
    .container-form textarea {
      width: 100%; }
    .container-form button {
      width: 100%;
      font-size: 17px;
      border: none;
      transition: 0.2s; }
    .container-form button:hover {
      background-color: #2908a2b3;
      color: white; }
  .footer-apple {
    display: block; }
    .footer-apple .redsocial {
      justify-content: center;
      align-items: center; }
      .footer-apple .redsocial img {
        width: 40px; }
    .footer-apple .copyright {
      margin-top: 7px;
      text-align: center; }
      .footer-apple .copyright h5 {
        font-size: 17px; }
    .footer-apple .contacto-apple {
      justify-content: center;
      align-items: center; }
      .footer-apple .contacto-apple img {
        width: 40px; }
      .footer-apple .contacto-apple .img-gmail {
        width: 45px; } }
