@font-face {
    font-family: "font-logo";
    src: url("../assets/fonts/Rubik-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// NAV - (INDEX)


.body-index {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( -121.5deg, rgb(16, 41, 70) 5.8%,rgb(24, 24, 62) 50%, rgb(55, 10, 96) 100.2%);
    color: white;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.nav {    
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem 0rem 3rem;

    .logo {
        font-size: 3.5rem;
        font-family: 'Questrial', sans-serif;
        font-weight: 600;
        background: linear-gradient(to right,#7ba6c7,#d7d2cc); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .ul-nav {
        display: flex;
        align-items: center;
        gap: 2.3rem;
        li{
            list-style: none;
            color: white;
            a {
                text-decoration: none;
                color: white;
                font-family: 'Questrial', sans-serif;
                font-size: 1.5rem;

                transition: 1s;
            }
            a:hover {
            background: linear-gradient(to right,#7ba6c7,#d7d2cc); 
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        }
    }
    .button-carrito {
    border: none;
    background: none;

    /*CONTADOR DE CANTIDAD */

    .cantidad-carrito{
    background-color: rgb(254, 254, 255);
    color: rgb(0, 0, 0);
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 17px;
    position: absolute;
    top: 1.5rem;
    right: 6.5rem;
    display: none;
    }
    }
    
}


// PORTADA - INDEX

.portada-index {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    .img-portada {
        margin-top: 6.5rem;

    }
    .texto-portada {
        text-align: center;
        h1 {
            font-size: 6.2rem;
            font-family: 'Roboto', sans-serif;       
        }
        p {
            font-family: 'Questrial', sans-serif;
            font-size: 3.5rem; 
            background: linear-gradient(to left, #ADA996, #DBDBDB, #EAEAEA);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        span {
            font-family: 'Questrial', sans-serif;
            font-size: 3.7rem;
            font-weight: 600;

            background: linear-gradient(to right, rgb(255, 176, 6), rgb(219, 46, 133), rgb(219, 46, 133), rgb(255, 176, 6), rgb(255, 176, 6), rgb(219, 46, 133));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .button-2 {
            padding: 7px 45px;
            border-radius: 2rem;
            font-size: 35px;
            list-style-type: none;
            text-decoration: none;
            a {
                text-decoration: none;
                color: white;
                font-family: 'Questrial', sans-serif;
            }
            a:hover {
                text-decoration: none;
                color: black;
            }
        }
    }
}


// CONTENEDOR 1 - INDEX

.container-1 {
    width: 100%;
    min-height: 600px;
    background-image: linear-gradient( 109.5deg, rgb(16, 41, 70) 5.8%,rgb(24, 24, 62) 50%, rgb(12, 2, 22) 110.2%);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .texto-container1 {
    margin-left: 3.5rem;
    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 4rem;
    }
    span {
    background: linear-gradient(to right,  rgb(255, 176, 6),rgb(219, 46, 133), rgb(219, 46, 133),rgb(255, 176, 6), rgb(255, 176, 6),rgb(219, 46, 133));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Questrial', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    }
    button {
        padding: 7px 25px;
        border-radius: 2rem;
        font-size: 35px;
        a {
            font-family: 'Questrial', sans-serif;
            color: white;
        text-decoration: none;
        }
        a:hover {
            color: black;
        }
    }
}
    
}


// CONTENEDOR 2 - INDEX

.container-2 {

    .video {
        width: 100%;
    }

}


// PÁGINA PRODUCTOS

.background-product {
    width: 100%;
    background-image: linear-gradient( -121.5deg, rgb(16, 41, 70) 5.8%,rgb(24, 24, 62) 50%, rgb(55, 10, 96) 100.2%);
}

.header-productos {
    width: 100%;
    background-color: black;
}


.portada-productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: white;
        font-size: 5rem;
    }
    img {
        margin-top: 55px;
    }
}


/*  CONTENEDOR PRODUCTOS */

.container-product{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    

    .content-img {
        transition: 0.3s;
    }
    .content-img:hover {
        background-color: rgb(252, 252, 252);
    }

    .card {
        width: 380px;
        background-image: linear-gradient( -109.5deg, rgb(16, 41, 70) 5.8%,rgb(24, 24, 62) 50%, rgb(12, 2, 22) 110.2%);
        color: white;
    }

    .content-h3 { 
        text-align: center;
        padding: 7px;
        margin-bottom: 1rem;
        background: url("../Assets/background/backgroundtotal2.png");
        background-size: cover;
        color: white;
        font-family: 'Questrial', sans-serif;
        }

    .content-h4 {
        margin-left: 15px;
        font-size: 1.1rem;
        font-family: 'Questrial', sans-serif;
    }
    .content-price {
        margin-top: 9px;
        margin-left: 15px;
        font-size: 1.1rem;
        font-family: 'Questrial', sans-serif;
        
    }
    .content-text {
        margin-left: 15px;
        font-size: 1.1rem;
        font-family: 'Questrial', sans-serif;
    }

    .comprar{
        border: none;
        color: white;
        background-image: linear-gradient( 109.5deg, rgb(16, 41, 70) 5.8%,rgb(24, 24, 62) 50%, rgb(12, 2, 22) 110.2%);
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Questrial', sans-serif;
    }
}


/* MODAL CONTAINER - PRODUCTS */

.modal-container {
    width: 80%;
    margin: 0 10%;
    border-radius: 0.5rem;
    max-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient( 109.5deg, rgb(16, 41, 70) 5.8%,rgb(24, 24, 62) 50%, rgb(12, 2, 22) 110.2%);
    color: white;
    position: fixed;
    top: 16vh;
    overflow: auto;
    z-index: 9;
    scrollbar-color: none;
    
    .modal-container::-webkit-scrollbar {
        display: none;
    }
    img {
        width: 150px;    
    }
    .modal-header { 
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 100%;
        padding: 0.5rem 1rem;
    }
    .modal-header-tittle {
        font-family: 'Questrial', sans-serif;
        margin-top: 0.5rem;
    }
    .modal-header-button {
    img {
        width: 60px;
        margin-top: 0.5rem;
    }
    }
    .modal-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid rgb(149, 148, 148);
        h4 {
            font-family: 'Questrial', sans-serif;
        }
        p {
            font-family: 'Questrial', sans-serif;
        }
        span {
            margin-bottom: 12px;
        }
    }

    .total-content {
        width: 40%;
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        margin: 10px;
        background: white;
        color: black;
        border-radius: 2rem;
        font-family: 'Questrial', sans-serif;
    }
}


/*CARRITO */

.sumar,
.restar{
    cursor: pointer;
}


// PÁGINA UBICACIÓN

.background-ubicacion {
    width: 100%;
    background: url("../assets/background/backgroundtotal2.png");
    background-size: cover;
}

.h2-ubicacion {
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5.7rem;
    color: white;

    span {
        background: linear-gradient(to right, rgb(255, 176, 6), rgb(219, 46, 133), rgb(219, 46, 133), rgb(255, 176, 6), rgb(255, 176, 6), rgb(219, 46, 133));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Questrial', sans-serif;
        font-size: 4.5rem;
        font-weight: 600;
    }
}

.contenedor-ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .marco-ubicacion {
        width: 97%;
        background-color: rgba(253, 253, 253, 0.855);
        margin: 1rem 1rem 0rem 1rem;
        border-radius: 0.5em;
        padding: 1rem 1rem 0.2rem 1rem;
    
        h2 {
            text-align: center;
            border-bottom: 1px solid black;
            font-size: 1.8rem;
            font-family: 'Questrial', sans-serif;
        }
        ul {
            margin-top: 20px;
            li{
                margin-top: 7px;
                font-size: 1.1rem;
                font-family: 'Questrial', sans-serif;
            }
        }
    
    }
    
    .iframe {
        width: 90%;
        height: 700px;
        padding: 1rem;
    
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            
        }
    }
}


// PAGINA CONTACTO

.background-contacto {
    background-color: black;
}

.contenedor-contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 1.1rem;

    .video-contacto {
        width: 60%;
        position: relative;
        z-index: -1;    
    }
    
    // form contact
    
    .contenedor-form {
        width: 100%;
        height: 750px;
        margin-right: 6rem;
        background: black;
        color: white;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        h2 {
            text-align: center;
            font-size: 3.5rem;
            background: linear-gradient(to right, rgb(255, 176, 6), rgb(219, 46, 133), rgb(219, 46, 133), rgb(255, 176, 6), rgb(255, 176, 6), rgb(219, 46, 133));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Questrial', sans-serif;
            font-weight: 600;
            }
    
            p {
                text-align: center;
                margin-top: 20px;
                font-size: 20px;
                font-family: 'Questrial', sans-serif;
            }
            label {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                font-family: 'Questrial', sans-serif;
            }
            input {
                width: 100%;
                background: none;
                border: none;
                outline: none;
                border-bottom: 1px solid white;
                color: white;
            }
            textarea {
                width: 100%;
                outline: none;
            }
            button {
                width: 100%;
                transition: 0.5s;
            }
            button:hover {
                background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
                outline: none;
                color: white;
            }
    }
}


// Footer pages - index 

.footer-apple {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(44, 55, 78), rgb(54, 57, 65));
    margin-top: -8px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    color: white;

    .redsocial {
    display: flex;
    gap: 1rem;
    }

    h5 {
        font-family: 'Questrial', sans-serif;
    }

    .contacto-apple {
        display: flex;
        gap: 1rem;
    }

}

.footer-pages {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 0px 25px 0px 25px;
}






// MEDIA QUERYS - 1850px

@media screen and (max-width: 1850px) {

    
    .nav {
        padding: 1rem 3rem 0rem 2rem;
        .logo {
            font-size: 3.2rem;
            img {
                width: 80px;
            }
        }
        .ul-nav {
            gap: 1.5rem;
            li {
                a {
                    font-size: 1.5rem;
                }
            }
        }
        .button-carrito {
            .cantidad-carrito {
                width: 1.2rem;
                height: 1.2rem;
                right: 1.7rem;
                top: 1rem;
                font-size: 0.8rem;
            }
        }   
    } 
    

    // Portada Index 1850px

    .portada-index {
        gap: 0rem;
        img {
            width: 455px;
            margin-left: 0.5rem;
            padding-right: 1rem;
        }
        .texto-portada {
            margin-top: 1rem;
            line-height: normal;
            h1 {
                font-size: 4.7rem;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'Poppins', sans-serif;
                padding: 0.5rem 0.5rem 0rem 1rem;
            }
            p {
            font-size: 3rem;
            }
            span {
                font-size: 3rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 3px 35px;
                font-size: 2rem;
            }
        }
    }

    // Contenedor 1 - index 1850px

    .container-1 {
        min-height: 450px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 3.6rem;
            }
            span {
                font-size: 2.7rem;
            }
            button {
                font-size: 1.9rem;
                padding: 2px 13px;
            }
        }
        
        img {
            width: 520px;
        }
    }

    // Página productos - 1850px

    .portada-productos {
        h2 {
            font-size: 4.3rem;
            padding: 0rem 0.3rem 0rem 0.7rem;
        }
        img {
            width: 25%;
            margin-top: 20px;
            margin-right: 0.5rem;
        }
    }

    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(4, auto);

        .card {
            width: 280px;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 2.5rem;
        }
        .modal-header-button {
            img {
                width: 40px;
            }
        }
        .modal-content {
            flex-direction: row;
            
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 1850px

    .h2-ubicacion {
        font-size: 4.7rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 2.5rem;
        font-weight: 600;
        padding: 1.5rem;
        span {
            font-size: 4rem;
        }
    }
    .contenedor-ubicacion {
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem 1.65rem;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1.2rem;
                }
            }
        }
        img {
            width: 80%;

        }
        .iframe {
            width: 100%;
            height: 580px;
        }
    }

    // Página Contacto - 1850px

    .contenedor-contacto {
        flex-direction: row;

        .video-contacto {
            width: 50%;
        }

        .contenedor-form {
            width: 45%;
            margin: auto;

            .mediaquery {
                display: grid;
                grid-template-columns: repeat(2,auto);
                gap: 2rem;
                }
                
            h2 {
                grid-column: 1/3;
                font-size: 3rem;
            }
            .bloque {
                grid-column: 1/3;
                margin-bottom: -2rem;
            }
            p {
                font-size: 1.2rem;
            }
            input {
                text-align: center;
            }
            }
        }
}


// MEDIA QUERYS - 1650px

@media screen and (max-width: 1650px) {

    
    .nav {
        padding: 1rem 3rem 0rem 2rem;
        .logo {
            font-size: 2.8rem;
            img {
                width: 70px;
            }
        }
        .ul-nav {
            gap: 1.5rem;
            li {
                a {
                    font-size: 1.4rem;
                }
            }
        }
        .button-carrito {
            .cantidad-carrito {
                width: 1.2rem;
                height: 1.2rem;
                right: 1.7rem;
                top: 1rem;
                font-size: 0.8rem;
            }
        }   
    } 
    

    // Portada Index 1650px

    .portada-index {
        gap: 0rem;
        img {
            width: 400px;
            margin-left: 0.5rem;
            padding-right: 1rem;
        }
        .texto-portada {
            margin-top: 1rem;
            line-height: normal;
            h1 {
                font-size: 4rem;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'Poppins', sans-serif;
                padding: 0.5rem 0.5rem 0rem 1rem;
            }
            p {
            font-size: 2.7rem;
            }
            span {
                font-size: 2.8rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 3px 35px;
                font-size: 1.9rem;
            }
        }
    }

    // Contenedor 1 - index 1650px

    .container-1 {
        min-height: 430px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 3rem;
            }
            span {
                font-size: 2.5rem;
            }
            button {
                font-size: 1.7rem;
                padding: 2px 13px;
            }
        }
        
        img {
            width: 500px;
        }
    }



    // Página productos - 1650px

    .portada-productos {
        margin-top: -5rem;
        h2 {
            font-size: 4rem;
            padding: 0rem 0.3rem 0rem 0.7rem;
        }
        img {
            width: 25%;
            margin-right: 0.5rem;
        }
    }

    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(3, auto);

        .card {
            width: 280px;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 2rem;
        }
        .modal-header-button {
            img {
                width: 35px;
            }
        }
        .modal-content {
            flex-direction: row;
            
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 1650px

    .h2-ubicacion {
        font-size: 4.5rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 2.5rem;
        font-weight: 600;
        padding: 1.5rem;
        span {
            font-size: 3.5rem;
        }
    }

    .contenedor-ubicacion {
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem 1.65rem;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1.2rem;
                }
            }
        }
        img {
            width: 80%;

        }
        .iframe {
            width: 100%;
            height: 580px;
        }
    }

    // Página Contacto - 1650px

    .contenedor-contacto {
        flex-direction: row;

        .video-contacto {
            width: 50%;
        }

        .contenedor-form {
            width: 45%;

            .mediaquery {
                display: grid;
                grid-template-columns: repeat(2,auto);
                gap: 2rem;
                }
                
            h2 {
                grid-column: 1/3;
                font-size: 3rem;
            }
            .bloque {
                grid-column: 1/3;
                margin-bottom: -2rem;
            }
            p {
                font-size: 1.2rem;
            }
            input {
                text-align: center;
            }
            }
        }
}


// MEDIA QUERYS - 1430px

@media screen and (max-width: 1430px) {

    .nav {
        padding: 1rem 3rem 0rem 2rem;
        .logo {
            font-size: 2.6rem;
            img {
                width: 65px;
            }
        }
        .ul-nav {
            gap: 1.5rem;
            li {
                a {
                    font-size: 1.4rem;
                }
            }
        }
        .button-carrito {
            .cantidad-carrito {
                width: 1.2rem;
                height: 1.2rem;
                right: 1.7rem;
                top: 1rem;
                font-size: 0.8rem;
            }
        }   
    } 
    

    // Portada Index 1430px

    .portada-index {
        gap: 0rem;
        img {
            width: 350px;
            margin-left: 0.5rem;
            padding-right: 1rem;
        }
        .texto-portada {
            margin-top: 1rem;
            line-height: normal;
            h1 {
                font-size: 3.5rem;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'Poppins', sans-serif;
                padding: 0.5rem 0.5rem 0rem 1rem;
            }
            p {
            font-size: 2.5rem;
            }
            span {
                font-size: 2.6rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 3px 35px;
                font-size: 1.7rem;
            }
        }
    }

    // Contenedor 1 - index 1430px

    .container-1 {
        min-height: 430px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 2.8rem;
            }
            span {
                font-size: 2.4rem;
            }
            button {
                font-size: 1.5rem;
                padding: 2px 13px;
            }
        }
        
        img {
            width: 500px;
        }
    }

    // Footer 

    .footer-apple {
        flex-direction: row;
        gap: 1rem;

        img {
            width: 50px;
        }
        .img-gmail {
            width: 55px;
        }
        h5 {
            font-size: 1.1rem;
        }
    }


    // Página productos - 1430px

    .portada-productos {
        margin-top: -5rem;
        h2 {
            font-size: 3.5rem;
            padding: 0rem 0.3rem 0rem 0.7rem;
        }
        img {
            width: 25%;
            margin-right: 0.5rem;
        }
    }

    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(3, auto);

        .card {
            width: 280px;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 1.5rem;
        }
        .modal-header-button {
            img {
                width: 30px;
            }
        }
        .modal-content {
            flex-direction: row;
            
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 1430px

    .h2-ubicacion {
        font-size: 4rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 2.5rem;
        font-weight: 600;
        padding: 0.5rem;
        span {
            font-size: 3.5rem;
        }
    }
    .contenedor-ubicacion {
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem 1.65rem;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1.2rem;
                }
            }
        }
        img {
            width: 80%;

        }
        .iframe {
            width: 100%;
            height: 580px;
        }
    }

    // Página Contacto - 1430px

    .contenedor-contacto {
        flex-direction: column;

        .video-contacto {
            width: 80%;
        }

        .contenedor-form {
            width: 80%;
            margin: auto;

            .mediaquery {
                display: grid;
                grid-template-columns: repeat(2,auto);
                gap: 2rem;
                }
                
            h2 {
                grid-column: 1/3;
                font-size: 3rem;
            }
            .bloque {
                grid-column: 1/3;
                margin-bottom: -2rem;
            }
            p {
                font-size: 1.2rem;
            }
            input {
                text-align: center;
            }
            }
        }
}


// MEDIA QUERYS - 1250px

@media screen and (max-width: 1250px) {

    .nav {
        padding: 1rem 3rem 0rem 2rem;
        .logo {
            font-size: 2.1rem;
            img {
                width: 50px;
            }
        }
        .ul-nav {
            gap: 1.5rem;
            li {
                a {
                    font-size: 1.3rem;
                }
            }
        }
        .button-carrito {
            .cantidad-carrito {
                width: 1.2rem;
                height: 1.2rem;
                right: 1.7rem;
                top: 1rem;
                font-size: 0.8rem;
            }
        }   
    } 
    

    // Portada Index 1250px

    .portada-index {
        margin-top: 2rem;
        gap: 0rem;
        img {
            width: 260px;
            margin-top: -4.8rem;
            margin-left: 2.5rem;
            padding-right: 1rem;
        }
        .texto-portada {
            margin-top: 1rem;
            line-height: normal;
            h1 {
                font-size: 3.5rem;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'Poppins', sans-serif;
                padding: 0.5rem 0.5rem 0rem 1rem;
            }
            p {
            font-size: 2.5rem;
            }
            span {
                font-size: 2.6rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 3px 35px;
                font-size: 1.7rem;
            }
        }
    }

    // Contenedor 1 - index 1250px

    .container-1 {
        min-height: 350px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 2.6rem;
            }
            span {
                font-size: 2.2rem;
            }
            button {
                font-size: 1.5rem;
                padding: 2px 13px;
            }
        }
        
        img {
            width: 400px;
        }
    }

    // Footer 

    .footer-apple {
        flex-direction: row;
        gap: 1rem;

        img {
            width: 50px;
        }
        .img-gmail {
            width: 55px;
        }
        h5 {
            font-size: 1.1rem;
        }
    }


    // Página productos - 1250px

    .portada-productos {
        margin-top: -3rem;
        h2 {
            font-size: 3rem;
            padding: 0rem 0.3rem 0rem 0.7rem;
        }
        img {
            width: 25%;
            margin-top: 20px;
            margin-right: 0.5rem;
        }
    }

    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(3, auto);

        .card {
            width: 280px;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 1.5rem;
        }
        .modal-header-button {
            img {
                width: 30px;
            }
        }
        .modal-content {
            flex-direction: row;
            
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 1250px

    .h2-ubicacion {
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 2.5rem;
        font-weight: 600;
        padding: 0.5rem;
        span {
            font-size: 2.5rem;
        }
    }
    .contenedor-ubicacion {
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem 1.65rem;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1.2rem;
                }
            }
        }
        img {
            width: 80%;

        }
        .iframe {
            width: 100%;
            height: 580px;
        }
    }

    // Página Contacto - 1250px

    .contenedor-contacto {
        flex-direction: column;

        .video-contacto {
            width: 90%;
        }

        .contenedor-form {
            width: 80%;
            margin: auto;

            .mediaquery {
                display: grid;
                grid-template-columns: repeat(2,auto);
                gap: 2rem;
                }
                
            h2 {
                grid-column: 1/3;
                font-size: 3rem;
            }
            .bloque {
                grid-column: 1/3;
                margin-bottom: -2rem;
            }
            p {
                font-size: 1.2rem;
            }
            input {
                text-align: center;
            }
            }
        }
}


// MEDIA QUERYS - 1024px

@media screen and (max-width: 1024px) {


    // Nav - responsive - 1024px

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding: 0.7rem 1rem 0rem 0rem;

        button {
            background: none;
            border: none;
        }
        img {
            width: 40px;
        }
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .cerrar-menu {
        background: none;
        border: none;
        img {
            width: 30px;
            transition: 0.4s;
        }
        img:hover {
            transform: rotate(45deg);
        }
    }

    .nav {
        margin-top: -2.4rem;
        padding: 0;
        margin-left: 0.5rem;

        .logo {
            font-size: 2.1rem;
            img {
                width: 45px;
            }
        }

        .ul-nav {
            opacity: 0;
            visibility: hidden;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(14, 13, 21);
            padding: 1rem;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);

            flex-direction: column;
            align-items: end;
            gap: 1rem;
            z-index: 1;
        }
        .ul-nav.visible {
            opacity: 1;
            visibility: visible;
        }

        .button-carrito {
            .cantidad-carrito {
                top: 15rem;
                right: 3rem;
            }
        }
    }

    // Portada Index 1024px

    .portada-index {
        gap: 0rem;
        img {
            width: 220px;
            margin-top: -4.8rem;
            margin-left: 2rem;
        }
        .texto-portada {
            margin-top: 1rem;
            line-height: normal;
            h1 {
                font-size: 2.7rem;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'Poppins', sans-serif;
                padding: 0.5rem 0.5rem 0rem 1rem;
            }
            p {
            font-size: 1.7rem;
            }
            span {
                font-size: 1.9rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 3px 35px;
                font-size: 1.4rem;
            }
        }
    }

    // Contenedor 1 - index 1024px

    .container-1 {
        min-height: 250px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 2rem;
            }
            span {
                font-size: 1.7rem;
            }
            button {
                font-size: 1.3rem;
                padding: 2px 10px;
            }
        }
        
        img {
            width: 320px;
        }
    }

    // Footer 

    .footer-apple {
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        img {
            width: 50px;
        }
        .img-gmail {
            width: 55px;
        }
        h5 {
            font-size: 1.1rem;
        }
    }


    // Página productos - 1024px

    .portada-productos {
        margin-top: -6rem;
        h2 {
            font-size: 2.5rem;
            padding: 0rem 0.3rem 0rem 0.7rem;
        }
        img {
            width: 30%;
            margin-top: 20px;
            margin-right: 0.5rem;
        }
    }

    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(2, auto);

        .card {
            width: 280px;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 1.5rem;
        }
        .modal-header-button {
            img {
                width: 30px;
            }
        }
        .modal-content {
            flex-direction: row;
            
            h4 {
                font-size: 0.9rem;
            }
            p {
                font-size: 0.9rem;
            }
            span {
                font-size: 0.9rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 1024px

    .h2-ubicacion {
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 2.5rem;
        font-weight: 600;
        padding: 0.3rem;
        span {
            font-size: 2.3rem;
        }
    }
    .contenedor-ubicacion {
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem 1.65rem;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1.2rem;
                }
            }
        }
        img {
            width: 80%;

        }
        .iframe {
            width: 100%;
            height: 580px;
        }
    }

    // Página Contacto - 1024px

    .contenedor-contacto {
        flex-direction: column;

        .video-contacto {
            width: 100%;
        }

        .contenedor-form {
            width: 80%;
            margin: auto;

            .mediaquery {
                display: grid;
                grid-template-columns: repeat(2,auto);
                gap: 2rem;
                }
                
            h2 {
                grid-column: 1/3;
                font-size: 3rem;
            }
            .bloque {
                grid-column: 1/3;
                margin-bottom: -2rem;
            }
            p {
                font-size: 1.2rem;
            }
            input {
                text-align: center;
            }
            }

            
        
        }
}


// MEDIA QUERYS - 768px

@media screen and (max-width: 768px) {


    // Nav - responsive - 768px

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding: 0.7rem 0.5rem 0rem 0rem;

        button {
            background: none;
            border: none;
        }
        img {
            width: 35px;
        }
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .cerrar-menu {
        background: none;
        border: none;
        img {
            width: 30px;
            transition: 0.4s;
        }
        img:hover {
            transform: rotate(45deg);
        }
    }

    .nav {
        margin-top: -2rem;
        padding: 0;
        margin-left: 0.5rem;

        .logo {
            font-size: 1.9rem;
            img {
                width: 40px;
            }
        }

        .ul-nav {
            opacity: 0;
            visibility: hidden;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(14, 13, 21);
            padding: 1rem;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);

            flex-direction: column;
            align-items: end;
            gap: 1rem;
            z-index: 1;
        }
        .ul-nav.visible {
            opacity: 1;
            visibility: visible;
        }

        .button-carrito {
            .cantidad-carrito {
                top: 15rem;
                right: 3rem;
            }
        }
    }

    // Portada Index 768px

    .portada-index {
        gap: 0rem;
        img {
            width: 180px;
            margin-top: -4.8rem;
            margin-left: 1.1rem;
        }
        .texto-portada {
            margin-top: 1rem;
            line-height: 100%;
            h1 {
                font-size: 2rem;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'Poppins', sans-serif;
                padding: 0.5rem 0.5rem 0rem 1rem;
            }
            p {
            font-size: 1.5rem;
            }
            span {
                font-size: 1.7rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 3px 35px;
                font-size: 1.2rem;
            }
        }
    }

    // Contenedor 1 - index 768px

    .container-1 {
        min-height: 200px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 1.6rem;
            }
            span {
                font-size: 1.5rem;
            }
            button {
                font-size: 1.1rem;
                padding: 2px 10px;
            }
        }
        
        img {
            width: 260px;
        }
    }

    // Footer 

    .footer-apple {
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        img {
            width: 50px;
        }
        .img-gmail {
            width: 55px;
        }
        h5 {
            font-size: 1.1rem;
        }
    }


    // Página productos - 640px

    .portada-productos {
        h2 {
            font-size: 2rem;
            padding: 0rem 0.3rem 0rem 0.7rem;
        }
        img {
            width: 35%;
            margin-top: 20px;
            margin-right: 0.5rem;
        }
    }

    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(2, auto);

        .card {
            width: 280px;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 1.5rem;
        }
        .modal-header-button {
            img {
                width: 30px;
            }
        }
        .modal-content {
            flex-direction: column;
            
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 768px


    .h2-ubicacion {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        font-weight: 600;
        padding: 0.3rem;
        span {
            font-size: 2rem;
        }
    }
    .contenedor-ubicacion {
        flex-direction: column;
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem auto;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1.2rem;
                }
            }
        }
        img {
            width: 70%;
        }
        .iframe {
            width: 95%;
            height: 300px;
        }
    }

    // Página Contacto - 768px

    .contenedor-contacto {
        flex-direction: column;

        .video-contacto {
            width: 100%;
        }

        .contenedor-form {
            width: 80%;
            margin: auto;
            .mediaquery {
                display: grid;
                grid-template-columns: repeat(2,auto);
                gap: 2rem;
                }

            h2 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.3rem;
            }
            .bloque {
                grid-column: 1/3;
                margin-bottom: -2rem;
            }
            input {
                text-align: center;
            }
        }
    }

}


// MEDIA QUERYS - 600px

@media screen and (max-width: 600px) {


    // Nav - responsive - 600px

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding: 0.7rem 0.5rem 0rem 0rem;

        button {
            background: none;
            border: none;
        }
        img {
            width: 30px;
        }
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .cerrar-menu {
        background: none;
        border: none;
        img {
            width: 30px;
            transition: 0.4s;
        }
        img:hover {
            transform: rotate(45deg);
        }
    }

    .nav {
        margin-top: -2rem;
        padding: 0;
        margin-left: 0.5rem;

        .logo {
            font-size: 1.6rem;
            img {
                width: 40px;
            }
        }

        .ul-nav {
            opacity: 0;
            visibility: hidden;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(14, 13, 21);
            padding: 1rem;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);

            flex-direction: column;
            align-items: end;
            gap: 1rem;
            z-index: 1;
        }
        .ul-nav.visible {
            opacity: 1;
            visibility: visible;
        }

        .button-carrito {
            .cantidad-carrito {
                top: 15rem;
                right: 3rem;
            }
        }
    }

    // Portada Index 600px

    .portada-index {
        gap: 0rem;
        img {
            width: 145px;
            margin-top: -4rem;
            margin-left: 1.3rem;
        }
        .texto-portada {
            margin-top: 1rem;
            h1 {
                font-size: 1.75rem;
                font-weight: 600;
                letter-spacing: 2px;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 1px;
            }
            p {
            font-size: 1.3rem;
            margin-bottom: 13px;
            line-height: normal;
            }
            span {
                font-size: 1.4rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 3px 35px;
                font-size: 1rem;
            }
        }
    }

    // Contenedor 1 - index 600px

    .container-1 {
        min-height: 160px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 1.3rem;
            }
            span {
                font-size: 1.3rem;
            }
            button {
                font-size: 1rem;
                padding: 2px 10px;
            }
        }
        
        img {
            width: 190px;
        }
    }

    // Footer 

    .footer-apple {
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        img {
            width: 40px;
        }
        .img-gmail {
            width: 45px;
        }
        h5 {
            font-size: 1.1rem;
        }
    }


    // Página productos - 600px

    .portada-productos {
        margin-top: -8rem;
        h2 {
            font-size: 1.8rem;
            padding: 0rem 0.6rem;
            margin-top: 2rem;
        }
        img {
            width: 40%;
            margin-right: 0.5rem;
        }
    }

    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(1, auto);

        .card {
            width: 65%;
            margin: auto;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 1.5rem;
        }
        .modal-header-button {
            img {
                width: 30px;
            }
        }
        .modal-content {
            flex-direction: column;
            
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 600px

    .h2-ubicacion {
        font-size: 1.9rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        font-weight: 600;
        padding: 0.3rem;
        span {
            font-size: 1.7rem;
        }
    }

    .contenedor-ubicacion {
        flex-direction: column;
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem auto;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1rem;
                }
            }
        }
        img {
            width: 70%;   
        }
        .iframe {
            width: 95%;
            height: 300px;
        }
    }

    // Página Contacto - 600px

    .contenedor-contacto {
        flex-direction: column;

        .video-contacto {
            width: 100%;
        }

        .contenedor-form {
            width: 95%;
            margin: auto;

            .mediaquery {
                display: block;
            }
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
            .bloque {
                margin-bottom: 0rem;
            }
            input {
                text-align: center;
            }
        }
    }

}


// MEDIA QUERYS - 414px

@media screen and (min-width: 320px) and (max-width: 414px) {  

    // Nav - responsive - 414px

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding: 0.7rem 0.5rem 0rem 0rem;

        button {
            background: none;
            border: none;
        }
        img {
            width: 26px;
        }
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .cerrar-menu {
        background: none;
        border: none;
        img {
            width: 30px;
            transition: 0.4s;
        }
        img:hover {
            transform: rotate(45deg);
        }
    }

    .nav {
        margin-top: -1.7rem;
        padding: 0;
        margin-left: 0.5rem;

        .logo {
            font-size: 1.4rem;
            img {
                width: 35px;
            }
        }

        .ul-nav {
            opacity: 0;
            visibility: hidden;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(14, 13, 21);
            padding: 1rem;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);

            flex-direction: column;
            align-items: end;
            gap: 1rem;
            z-index: 1;
        }
        .ul-nav.visible {
            opacity: 1;
            visibility: visible;
        }

        .button-carrito {
            .cantidad-carrito {
                top: 15rem;
                right: 3rem;
            }
        }
    }

    // Portada Index 414px
    .portada-index {
        margin-top: 0rem;
        gap: 0rem;
        img {
            width: 110px;
            margin-top: -3.5rem;
            margin-left: 0.7rem;
            padding: 0 0.2rem;
        }
        .texto-portada {
            margin-top: 0.65rem;
            h1 {
                font-size: 1.4rem;
                font-weight: 600;
                letter-spacing: 1px;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 1px;
            }
            p {
            font-size: 1.2rem;
            margin-bottom: 13px;
            line-height: normal;
            }
            span {
                font-size: 1.3rem;
            }
            .button-2 {
                margin-top: 0.5rem;
                padding: 2px 30px;
                font-size: 1rem;
            }
        }
    }

    // Contenedor 1 - index 414px

    .container-1 {
        min-height: 150px;
        .texto-container1 {
            margin-left: 1rem;
            h2 {
                font-size: 1.15rem;
            }
            span {
                font-size: 1.2rem;
            }
            button {
                font-size: 0.9rem;
                padding: 2px 10px;
            }
        }
        
        img {
            width: 160px;
        }
    }

    // Footer 

    .footer-apple {
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        img {
            width: 40px;
        }
        .img-gmail {
            width: 45px;
        }
        h5 {
            font-size: 1.1rem;
        }
    }


    // Página productos - 414px
    
    .portada-productos {
        h2 {
            font-size: 1.4rem;
            padding: 0 1.2rem;
            margin-top: 3rem;
        }
        img {
            width: 40%;
            margin-right: 0.5rem;
        }
    }
    .container-product {
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(1, auto);

        .card {
            width: 70%;
            margin: auto;
        }
    }

    .modal-container {
        width: 90%;
        margin: 0 5%;
        top: 8vh;

        img {
            width: 120px;
        }
        .modal-header-tittle {
            font-size: 1.5rem;
        }
        .modal-header-button {
            img {
                width: 30px;
            }
        }
        .modal-content {
            flex-direction: column;
            
            h4 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }
        .total-content {
            width: 80%;
        }
    }

    // Página ubicación - 414px

    .h2-ubicacion {
        font-size: 1.6rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        font-weight: 600;
        padding: 0.3rem;
        span {
            font-size: 1.5rem;
        }
    }

    .contenedor-ubicacion {
        flex-direction: column;
        
        .marco-ubicacion {
            width: 90%;
            margin: 1rem auto;
            margin-bottom: 0;
            h2 {
                font-size: 1.5rem;
            }
            ul {
                li {
                    font-size: 1rem;
                }
            }
        }
        img {
            width: 70%;
        }
        .iframe {
            width: 95%;
            height: 300px;
        }
    }

    // Página Contacto - 414px

    .contenedor-contacto {
        flex-direction: column;

        .video-contacto {
            width: 100%;
        }

        .contenedor-form {
            
            width: 90%;
            margin: auto;

            .mediaquery {
                display: block;
                }
            h2 {
                font-size: 2rem;
            }
            .bloque {
                margin-bottom: 0rem;
            }
            p {
                font-size: 1rem;
            }
            input {
                text-align: center;
            }
        }
    }

}
